<!--
  ~ Copyright (c) 2015 WHO.
  ~ All Rights Reserved.
  ~
  ~ NOTICE: All information contained herein is, and remains the property of WHO and its suppliers, if any. The intellectual concepts contained
  ~ herein are proprietary to WHO and its suppliers and
  ~ may be covered under U.S. and Foreign Patents, patents in process, and are protected
  ~ by trade secret or copyright law. Dissemination of this information or reproduction
  ~ of this material is strictly forbidden unless prior written permission is obtained
  ~ from WHO.
  -->

<div class="article">
    <p><strong>{{user.name}}</strong> has requested an amendment to a <strong>{{form.name.get("en")}}</strong> report with the following details:</p>

    <h3>Report Details</h3>
    <dl>
        <dt>Report Date</dt>
        <dd>{{report_date}}</dd>
        {% if location %}
        <dt>Location</dt>
        <dd>{{location.name.get("en")}}</dd>
        {% endif %}
        <dt>Reporting Interval</dt>
        <dd>{{form.time_interval}}</dd>
    </dl>

    <h3>Amendment Details</h3>

    <h6>Reason</h6>

    <div class="reason">
        {{reason}}
    </div>

    <table>
        <tr>
            <th>Field</th>
            <th>Field Code</th>
            <th>Original Value</th>
            <th>Amended Value</th>
        </tr>
        {% for amend in details %}
        <tr>
            <td>{{amend.field_name}}</td>
            <td>{{amend.long_name}}</td>
            <td>{{amend.original}}</td>
            <td>{{amend.amended}}</td>
        </tr>
        {% endfor %}
    </table>
</div>