<!--
  ~ Copyright (c) 2015 WHO.
  ~ All Rights Reserved.
  ~
  ~ NOTICE: All information contained herein is, and remains the property of WHO and its suppliers, if any. The intellectual concepts contained
  ~ herein are proprietary to WHO and its suppliers and
  ~ may be covered under U.S. and Foreign Patents, patents in process, and are protected
  ~ by trade secret or copyright law. Dissemination of this information or reproduction
  ~ of this material is strictly forbidden unless prior written permission is obtained
  ~ from WHO.
  -->

<div class="article">
    <p><strong>{{user.name}}</strong> has requested the deletion of a <strong>{{form}}</strong> report with the following details:</p>

    <h3>Report Details</h3>
    <dl>
        <dt>Report Name</dt>
        <dd>{{form}}</dd>
        <dt>Submitted by</dt>
        <dd>{{user.name}}</dd>
        <dt>Report Date</dt>
        <dd>{{report_date}}</dd>
        {% if location %}
        <dt>Location</dt>
        <dd>{{location}}</dd>
        {% endif %}
    </dl>

    <h3>Deletion Request Details</h3>

    <h6>Reason</h6>

    <div class="reason">
        {{reason}}
    </div>
</div>