{% extends 'email_template.html' %}

{% block content %}

<p><strong>{{data.suppressor}}</strong> has verified an alert for <strong>{{data.alarm_name}}</strong>.</p>

<p>
    <strong>Alarm: </strong> {{data.alarm_name}}<br/>
    <strong>Location: </strong> {{data.location_name}}<br/>
    <strong>Alert Date: </strong> {{data.alert_date}}<br />
    <br />
    <strong>Reason:</strong><br/>
    {{data.reason}}
</p>

<p>You can review the alert <a href="http://ewars.ws/alert#?uuid={{data.alert_uuid}}">here</a>.</p>

{% endblock %}
