{% extends 'email_template.html' %}

{% block content %}

<p><strong>{{data.requestor}} [{{data.requestor_email}}]</strong> has requested an amendment to the following report:</p>

<p>
    <strong>Report Type: </strong> {{data.form_name}}<br/>
    <strong>Location: </strong> {{data.location_name}}<br />
    <strong>Report Date: </strong> {{data.report_date}}<br />
    <br />
    <strong>Reason: </strong> {{data.reason}}
</p>

<p>Please review this request from "Tasks" in your dashboard and take an appropriate action.</p>

{% endblock content %}
