{% extends 'email_template.html' %}

{% block content %}

<p><strong>{{data.approver}} [{{data.approver_email}}]</strong> has <strong>rejected</strong> your request to amend the following report:</p>

<p>
    <strong>Report Type: </strong> {{data.form_name}}<br/>
    <strong>Location: </strong> {{data.location_name}}<br />
    <strong>Report Date: </strong> {{data.report_date}}
</p>

<p>They gave the following reason for the rejection:</p>

<p>{{data.reason}}</p>

{% endblock content %}

