{% extends 'email_template.html' %}

{% block content %}

<p>Hi {{recipient.name}}, a recent alert was tripped for the alarm <strong>Alarm</strong> by
    <strong>user</strong> within a
    <strong>form name</strong>, the reporting user has chosen to escalate the alert to admin level.</p>
<p>The alert is currently unassigned to any admin staff and can be claimed from the EWARS dashboard.</p>

{% endblock content %}
