{% extends 'email_template.html' %}

{% block content %}

<p class="lead">Hi {{recipient.name}}, an administrator has openend a new investigation.</p>
<p>You can view and contribute to the investigation <a href="http://ewars.ws/investigation#/">here</a></p>

{% endblock content %}
