{% extends 'email_template.html' %}

{% block content %}
<p>{{data.sender_name}} ({{data.sender_email}}) has shared a <strong>{{data.template_name}}</strong> report with you through EWARS.</p>

<p>You can view the report by clicking the link below:</p>

<a href="{{data.uri}}" target="_blank">{{data.report_title}}</a>
{% endblock content %}
