{% extends 'email_template.html' %}

{% block content %}

<p class="lead">Hi {{recipient.name}}, you have been added to the situation {{data.name.en}} by an administrator.</p>
<p>You can access the situation <a href="http://ewars.ws/situation#/{{data.uuid}}">here</a>.</p>

{% endblock content %}
