.form-stage {
    .form-stage-title {
        display: block;
        position: relative;
        padding: 8px 0;
        margin-bottom: 8px;

        .stage-line {
            position: absolute;
            top: 50%;
            height: 1px;
            width: 100%;
            background: #DADADA;
            z-index: 0;
        }

        .column {
            z-index: 1;

        }

        .stage-state {
            background: #FFFFFF;
        }

        .stage-name {
            background: #FFFFFF;
            display: inline-block;
            padding-right: 5px;
            font-weight: bold;
            padding-left: 8px;
            margin-left: 8px;

        }
    }

    .form-stage-controls {
        margin-bottom: 8px;

        button {
            border-radius: 3px;
            background: #FFFFFF;
            border: 1px solid #DADADA;
            margin-right: 8px;
            color: #333333;
        }
    }
}

.timeline-wrapper {
    display: block;
    margin: 8px 16px;
}

.timeline-title {
    display: block;
    margin: 8px 0;
    font-weight: bold;
}

.alert-timeline {
    display: block;
    background: #000000;
    height: 30px;
    border-radius: 3px;
    position: relative;

    .alert-line {
        position: absolute;
        top: 50%;
        left: 8px;
        right: 8px;
        height: 1px;
        z-index: 0;
        background: #FFFFFF;
    }

    .table {
        margin-left: 8px;
        margin-right: 8px;
        height: 100%;
        display: block;

        table {
            height: 100%;

            td {
                min-height: 35px;
                color: #FFFFFF;
                text-align: center;
                vertical-align: middle;

                &.norm {
                    width: 20px;
                    max-width: 20px;
                }

                .node {
                    width: 20px;
                    height: 20px;
                    padding-top: 10px;
                    z-index: 1;
                    text-align: center;
                    cursor: pointer;
                    position: relative;
                    background: #000000;

                    &:hover {
                        .date {
                            display: block;
                        }
                    }

                    .date {
                        position: absolute;
                        top: 35px;
                        color: #333333;
                        display: none;
                    }

                }

                &.last {
                    text-align: right;

                    .node {
                        float: right;
                    }
                }

                &.first {
                    text-align: left;

                    .node {
                        float: left;
                    }
                }
            }
        }
    }
}

.discussion-entry {
    border: 1px solid #DADADA;
    border-radius: 3px;

    input[type="text"] {
        border: none;
        width: 100%;
        height: 100%;
    }
}

.activity-item {
    display: block;
    margin: 4px 0 4px;

    .column {
        padding: 5px;

        &.date {
            max-width: 100px;
        }
    }
}


.alarm-name {
    font-weight: bold;
    font-size: 16px;
    display:block;
    margin-bottom: 5px;
}

.alert-location, .alert-eid {
    display: block;
    margin-bottom: 5px;
}

.alert-line {
    top: 0;
    bottom: 0;
    position: absolute;
    width: 1px;
    background: rgba(0,0,0,0.3);
    height: 100%;
    left: 30px;
    z-index: 0;

}

.alert-item {
    margin: 8px 8px 30px 0px;
}

.shadow-up {
    box-shadow: 0px -10px 90px #CCCCCC;
}

.alert-circle {
    text-align: center;
    color: white;
    width: 26px;
    background: #333333;
    padding-top: 7px;
    padding-bottom: 7px;
    left: -42px;
    top: 3px;
    border-radius: 11px;
    position: absolute;
    z-index: 2;
}

.shadowed {
    box-shadow: 0px 8px 20px #CCCCCC;
}

.alert-stages-tree {
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 3px;
    margin: 8px 16px;


    .alert-stage-node {
        padding: 5px;
        border-bottom: 1px solid rgba(0,0,0,0.2);

        &:last-child {
            border-bottom: none;
        }
    }
}

.alert-workflow-wrapper {
    display: flex;
    flex-direction: column;

    .workflow-item {
        overflow-y: auto;
        flex: 2;
        .workflow-arrow {
            position: absolute;
        }
    }
}

.alert-workflow {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    height: 180px;
    min-height: 180px;
    max-height: 180px;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    background: #F2F2F2;

    .alert-inter-stage {
        display: flex;
        flex-direction: column;
        flex: 2;

        .inter-stage-date {
            text-align: center;
            display: block;
            color: #333;
            width: 100%;
            margin-top: 54px;
            height: 20px;
        }
        
        .inter-stage-line {
            display: block;
            height: 10px;
            background: #333333;
            width: 100%;
        }

        &.pending {
            .inter-stage-line {
                background: #FFFFFF;
            }
        }

        &.completed {
            .inter-stage-line {
                background: #fca769;
            }
        }
    }

    .alert-stage {
        display: block;
        height: 100%;
        flex: 1;
        position: relative;
        max-width: 100px;
        min-width: 100px;

        .alert-stage-name {
            display: block;
            text-align: center;
            font-size: 1rem;
            font-weight: bold;
            margin-top: 14px;
        }

        .alert-stage-arrow {
          width: 0;
            height: 0;
            border-left: 19px solid transparent;
            border-right: 19px solid transparent;
            border-bottom: 19px solid #9898b1;
            bottom: 0;
            left: 50%;
            margin-left: -18px;
            position: absolute;
        }

        .alert-stage-circle {
            display: block;
            width: 100px;
            height: 100px;
            cursor: pointer;
            border-radius: 50px;
            background: #fca769;
            border: 3px solid #e9eef2;
            border-top-color: rgb(233, 238, 242);
            border-right-color: rgb(233, 238, 242);
            border-bottom-color: rgb(233, 238, 242);
            border-left-color: rgb(233, 238, 242);
            text-align: center;
            -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
            -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
            box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
            transition: all 0.3s ease;
            margin-top: 20px;
            position: relative;

            &:hover {
                transform: "scale(1.01)";
            }

            i {
                font-size: 45px;
                margin-top: 26px;
                color: #F2F2F2;
                text-align: center;
                width: 100%;
                display: block;
            }

            span {
                font-size: 1.5rem;
                color: #F2F2F2;
                text-align: center;
                position: relative;
                top: 50%;
                left: 0;
                width: 100%;
                display: block;
            }
            
        }
        
    }
}
