button {
  display: inline-block;
  background: #F2F2F2;
  color: rgba(0, 0, 0, 0.9);
  border: 1px solid rgba(0, 0, 0, 0.25);
  box-shadow: inset 0 -1px 0px rgba(0, 0, 0, 0.1);
  padding: 8px 10px;
  border-radius: 3px;
  text-align: center;
  transition: all 0.5s ease;
  margin-right: 8px;

  &:focus {
    outline: 0;
  }

  &:hover {
    background: #484848;
    color: #F2F2F2;
    box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.4);
  }

  &.btn-block {
    display: block;
    margin: 4px 0;
    width: 100%;
  }
}

.btn-group {
  display: inline-block;
  margin: 5px;
  padding: 0;

  &.formed {
    margin-left: 0px !important;
  }

  &.pull-right {
    float: right;
  }

  button {
    border-right: 1px solid #DADADA;
    border-left: none;
    border-radius: 0;
  }

  button:first-child {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;

    &:hover {
      border-left: 1px solid #DADADA;
    }
  }

  button:last-child {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
  }

  .bttn {
    &.red:first-child {
      border-left: 1px solid lightcoral;
    }

    &.green:first-child {
      border-left: 1px solid lightgreen;
    }
  }

}

.bttn {
  display: inline-block;
  border: 1px solid #DADADA;
  color: #333333;
  background: transparent;
  border-radius: 3px;
  font-size: 12px;
  padding: 5px 8px;
  font-weight: bold;

  &.disabled {
    color: #CCCCCC;
  }

  &:hover, &.active {
    background: white;
    color: #333333;
  }

  &.no-label {
    i {
      padding-right: 0;
    }
  }

  i {
    padding-right: 6px;
  }
}

.btn-group {
  padding-left: 8px;
  padding-right: 8px;

  button {
    border-left: none;
    border-radius: 0;
    display: block;
    float: left;
    margin-right: 0;
  }

  button:first-child {
    border-left: 1px solid rgba(0, 0, 0, 0.5);
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
  }

  button:last-child {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
  }

  .bttn {
    border-left: none;
    border-radius: 0;
    display: block;
    float: left;
    margin-right: 0;
  }

  .bttn:first-child {
    border-left: 1px solid #CCC;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
  }

  .bttn:last-child {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
  }
}

.block-button {
  display: block;
  margin: 8px;
  background: #F2F2F2;
  color: rgba(0, 0, 0, 0.9);
  border: 1px solid rgba(0, 0, 0, 0.25);
  box-shadow: inset 0 -1px 0px rgba(0, 0, 0, 0.1);
  padding: 5px 10px;
  border-radius: 3px;
  text-align: center;
  transition: all 0.5s ease;
  width: -webkit-fill-available;

  &.dark {
    background: transparent;
    box-shadow: none;
    color: #F2F2F2;
    border: 1px solid #CCCCCC;

  }

  &:focus {
    outline: 0;
  }

  &:hover {
    background: #484848;
    color: #F2F2F2;
    box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.4);
  }

}
