@toolbarBackgroundColour: #33333;

@import 'controls/toolbar';
@import 'controls/tabbar';
@import 'controls/lists';
@import "controls/groupbar";
@import "controls/user-summary";
@import "controls/footbar";
@import "controls/accounts";
@import "controls/inline-progress";
@import "controls/datagrid.less";
@import 'controls/events';
@import 'controls/record';
@import 'controls/actiongroup';
@import 'controls/verttab';
@import 'controls/panel';
@import "controls/select";
@import "controls/date";
@import "controls/trees";
@import 'controls/tasks';
@import "controls/forecast";
@import "controls/risk";
@import "controls/card";



/// Dashbaord handles

.dark {
  color: #DADADA;
}

.dash-handle {
  display: block;
  margin-bottom: 3px;

  .inner {
    display: flex;
    flex-direction: row;
    font-size: 1rem;
    padding-left: 5px;
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 3px;

    .icon {
      max-width: 20px;
      min-width: 20px;
      text-align: center;
      flex: 0;
    }

    .label {
      flex: 1;
    }

  }

  i {
    width: 16px;
  }

  &:hover, &.active {
    background: #DADADA;
  }

  &.sub-item {
    margin-left: 32px;
  }
}

.dash-section {
  display: block;
  padding: 5px 8px;
  font-size: 1rem;
  margin: 12px 8px 8px 0px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.6);
}

.dash-header {
  display: block;
  padding: 0px 10px;
  font-size: 11px;
  margin: 12px 8px 5px 0px;
  text-transform: uppercase;
  font-weight: bolder;
  font-family: Helvetica, Arial, sans-serif;
}

.form-section {
  display: block;
  padding: 5px 16px;
  margin: 8px 0;
  color: #333333;
  text-transform: uppercase;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 1.2rem;
}

.dash-section-complex {
  display: block;
  margin: 12px 0px 8px 0px;
  color: #333333;

  .dash-section-inner {
    font-size: 1rem;
    padding-left: 5px;

    display: flex;
    flex-direction: row;

    .icon {
      max-width: 20px;
      min-width: 20px;
      text-align: center;
    }

    .label {
    }

    &:hover {
      .action-group {
        display: block;
      }
    }

    .controls {
      .action-group {
        display: none;
      }
    }

  }

  .dash-children {
    margin-top: 8px;

    .dash-handle {
      padding-left: 15px;
      .inner {
        font-size: 0.9rem;
        line-height: 1rem;
      }
    }
  }
}

.menu-opened {
  background: #333333;
  color: #F2F2F2 !important;
}

// Toolbar styles

.data-group {
  display: block;
  margin: 8px;
  background: rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.data-control-drop {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  border: 1px solid rgba(255, 255, 255, 0.5);
  background: rgba(0, 0, 0, 0.1);
  height: 100%;
  width: 100%;
}

.group-positioner {
  position: absolute;
  top: 0;
  left: 0;
  overflow-x: scroll;
  height: 100%;
  width: auto;
}

.group-card-wrapper {
  width: 250px;

}

.group-axis-select {
  display: block;
  float: left;
  width: 200px;
  height: 100%;
}

.card-axis {
  margin: 3px;
  border: none;
  color: #F2F2F2;
  background: transparent;
}

.inner-group-drop {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: 8px;
  border: 1px dotted #333333;
}

.data-group-header {
  height: 30px;
  background: #333333;
  border-bottom: 1px solid rgba(0, 0, 0, 0.9);
  position: relative;

  .label {
    position: absolute;
    top: 0;
    left: 0;
    height: 30px;
    text-indent: 8px;
    line-height: 30px;
  }

}

.data-group-body {
  min-height: 250px;
  display: block;
  background: transparent;
  overflow: hidden;
}

.control-group-body {
  min-height: 250px;
  display: block;
  background: transparent;
}

.data-group-calc {
  background: #333333;
  border-bottom: 1px solid rgba(0, 0, 0, 0.9);
  height: 30px;

  i {
    padding-top: 7px;
  }

  input[type='text'] {
    background: transparent;
    border: none;
    width: 100%;
    height: 100%;
  }
}

.data-group-field {
  display: block;
  margin: 8px;
  color: #333333;
  padding: 8px;
  background: rgba(0, 0, 0, 0.1);
}

.control-editor {
  color: #333333;

  .range-items {
    display: block;
    margin-top: 10px;
    padding-bottom: 15px;

    .range-item {
      display: block;
      margin: 5px;
      border-radius: 3px;
      background: rgba(0, 0, 0, 0.1);
    }
  }

  input[type="text"], input[type="number"] {
    background: rgba(0, 0, 0, 0.1);
    border-radius: 0px;
    border: none;
    color: #333333;
    padding: 0.5em;
  }

  input[type="text"] {
    padding-right: 1.5em;
  }

  select {
    border: none;
    background: rgba(0, 0, 0, 0.1);
    color: #333333;
  }

  .control-field:nth-child(odd) {
    background: rgba(0, 0, 0, 0.1);
  }

  .control-field {
    color: #333333;

    .ide-col:first-child {
      padding-left: 5px;
      text-align: right;
      line-height: 37px;
    }

    .ide-col:last-child {
      padding: 5px;
    }
  }
}

.style-controls {
  display: block;

  input[type="text"], input[type="number"] {
    background: rgba(0, 0, 0, 0.1);
    border: none;
    padding: 5px;
    color: #F2F2F2;
  }

  select {
    border: none;
    padding: 5px;
    background: rgba(0, 0, 0, 0.1);
    color: #F2F2F2;
  }

}

.nugget {
  border-radius: 16px;
  padding: 5px;
  margin: 5px 8px;
  background: rgba(0, 0, 0, 0.2);
}

.plot-point {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  .plot-point-inner {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;

    .plot-point-value {
      margin: 0 auto;
      text-align: center;
    }
  }
}

.mini-bar {
  display: block;

  .mini-bar-inner {
    display: block;
    margin: 5px;
    border-radius: 5px;
    height: 20px;
    background: #333333;
  }
}

.colour-range-item {
  display: block;
  margin: 0 5px 0px 50px;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  background: #333333;

  input[type="color"] {
    border: none;
    padding: 0;
    background: transparent;
    float: left;
    margin-top: 3px;
  }

  input[type='number'] {
    color: #F2F2F2;
    text-align: right;
  }

  .colour-range-tick-bottom {
    position: absolute;
    bottom: 0px;
    left: -40px;
    height: 20px;;
    width: 40px;

    .col-tick {
      border-bottom: 1px solid #333333;
    }

  }

  .colour-range-tick {
    position: absolute;
    left: -40px;
    top: 1px;
    height: 20px;
    width: 60px;

    .col-tick {
      border-top: 1px solid #333333;
    }

    .label {
      font-size: 10px

    }
  }
}

.breaker {
  height: 1px;
  margin-right: 16px;
  background: #333333;
  position: relative;

  .label {
    position: absolute;
    height: 16px;
    font-size: 8px;
    padding: 5px;
    background: rgba(196, 196, 196, 1);
    top: -10px;
  }
}

.legend-v {
  display: block;

  .legend-inner {
    display: block;

    .legend-item {
      display: block;
      height: 20px;
      width: 20px;

    }

    .tick {
      display: block;
      width: 30px;
      height: 1px;
      background: black;
      margin-left: -10px;
      position: relative;

      .tick-inner {
        position: absolute;
        left: -30px;
        padding: 5px;
        font-size: 9px;
        top: -7px;
        color: #000000;
      }
    }
  }
}

.legend {
  display: block;

  .legend-inner {
    display: flex;
    flex-direction: row;

    .legend-item {
      display: block;
      float: left;
      width: 20px;
      height: 20px;
    }

    .tick {
      display: block;
      width: 1px;
      height: 25px;
      background: transparent;
      position: relative;
      margin-top: -5px;

      .tick-inner {
        position: absolute;
        top: -15px;
        padding: 5px;
        color: #000000;
        width: 100px;
        left: -50px;
        text-align: center;
        font-size: 9px;
      }
    }
  }
}

.data-table {
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  user-select: none;

  thead {
    tr {
      th {
        background: rgba(0, 0, 0, 0.1);
        color: #F2F2F2;
        padding: 8px;
        text-align: left;
        border-bottom: rgba(0, 0, 0, 0.5);
        white-space: nowrap;
      }
    }
  }

  tbody {
    tr {

      &.editable {
        td {
          padding: 0;
        }
      }
      th {
        width: 25%;
        text-align: right;
        white-space: nowrap;
      }

      td {
        text-align: left;
        white-space: nowrap;
      }

      th, td {
        padding: 8px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.5);
        border-right: 1px solid rgba(0, 0, 0, 0.5);

        input[type='text'], input[type='number'], input[type='date'] {
          background: rgba(0, 0, 0, 0.1);
          color: #FFFFFF;
          border: none;
          height: 37px;
          width: 100%;
        }

        input[type='number'] {
          text-align: right;
          text-indent: 3px;
        }

        .ew-select {
          border: none;
          height: 37px;
          background-color: rgba(0, 0, 0, 0.1);

          .handle {
            height: 37px;
          }
        }

      }
      &:nth-child(even) {
        td, th {
          background: rgba(0, 0, 0, 0.2);
        }
      }
    }

  }
}

.metric-select {
  position: absolute;
  top: 40px;
  left: 0;
  min-width: 200px;
  background: #000000;
  color: #F2F2F2;
  max-height: 200px;
  overflow-y: auto;

  .metric-select-inner {
    display: block;

    .metric {
      display: block;
      padding: 5px;
      color: #F2F2f2;
      text-align: left;

      &:hover {
        background: rgba(255, 255, 255, 0.5);
      }

    }
  }
}

.plot-tree {
  display: block;

  .node {
    display: block;

    &.selected {
      .node-control {
        background: green;
      }
    }

    .node-handle {
      display: block;
    }

    .node-children {
      display: block;
      margin-left: 20px;
    }

    .node-control {
      padding: 5px 4px;
      margin-right: 8px;
      &:hover {
        background: steelblue;
        border-radius: 3px;

        .node-ctx {
          display: block;
        }

      }
    }
  }

  .node-ctx {
    float: right;
    margin-right: 5px;

    display: none;
  }
}

.filter-drop {
}

.widget-table {
  thead {
    tr {
      td {
        padding: 6px;
        border-bottom: 1px solid #333333;
        text-align: center;
        min-width: 100px;
        color: #000000;
      }
    }
  }

  tbody {
    tr {
      th {
        text-align: left;
        color: #000000;
        padding: 6px;
      }

      td {
        padding: 6px;
        color: #000000;
      }
    }
  }
}

.pv-table {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: row;

  thead tr:last-child th {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }

  .row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: stretch;
  }

  .col {
    display: flex;
    min-width: 100px;
    flex-direction: column;
    text-align: right;
    flex-grow: 1;
    flex-shrink: 0;

    &.sub {
      border-right: 1px solid rgba(0, 0, 0, 0.1);
      display: block;
      flex-basis: 0;
    }
  }
}

.d3-tip {
  position: absolute;
  text-align: center;
  font: 12px sans-serif;
  background: white;
  border: 1px solid rgba(0, 0, 0, 0.1);
  pointer-events: none;
  z-index: 99;

  div {
    display: block;
    padding: 8px;
  }
}

.bk-logo {
  display: none !important;
}

.title-editor {
  border: 1px solid transparent;

  &:hover {
    border: 1px solid rgba(0, 0, 0, 0.1);
  }

  .title-input {
    display: none;

    input {
      border: none;
      border-radius: 0;
      padding: 0;
      height: 23px;
    }
  }

  .title-text {
    font-size: 14px;
    padding-top: 3px;
  }

  &.shown {
    .title-input {
      display: block
    }
    .title-text {
      display: none;
    }
  }

}

.var-drop {
  position: absolute;
  top: 5px;
  right: 5px;
  bottom: 5px;
  left: 5px;
  border: 1px dashed #F2F2F2;
  display: none;
}

.set-drop {
  position: absolute;
  top: 5px;
  right: 5px;
  bottom: 5px;
  left: 5px;
  border: 1px dashed #F2F2F2;
  display: none;
}

.style-selector {
  display: block;
  margin-bottom: 8px;
  position: relative;
  border: 1px solid #DADADA;

  .style-handle {
    display: block;
    border: 1px solid rgba(0, 0, 0, .1);
    padding: 5px;
  }

  .style-options {
    display: none;
    position: absolute;
    top: 100%;
    z-index: 2;

    .style-opts-inner {
      display: block;
      background: #F2F2F2;
      border: 1px solid rgba(0, 0, 0, 0.1);
    }

    .style-opt {
      display: block;
      padding: 5px;

      &:hover {
        background: #CCCCCC;
      }
    }

  }
}

.axis-drop-options {
  display: none;
  position: absolute;
  top: 100%;
  z-index: 99999999;
  background: #FFFFFF;

  .axis-drop-inner {
    display: block;
    min-width: 60px;
    background: #333333;
    padding: 5px;
    border: 1px solid #DADADA;
  }

  .opt {
    display: block;
    padding: 5px;

    &:hover {
      background: #CCCCCC;
    }
  }
}

.plot-marks {
  .ide-col {
    margin: 3px;
  }
}

.plot-settings {
  display: block;
  border: 1px solid #F2F2F2;
  border: 1px solid #DADADA;
  border-radius: 3px;
  background: rgba(255, 255, 255, 0.1);

  &:hover {
    background: rgba(255, 255, 255, 0.2);
  }

  .icon {
    text-align: center;
    font-size: 12px;
    padding-top: 8px;
    padding-bottom: 8px;
  }

  .text {
    text-align: center;
    padding-bottom: 5px;
    font-size: 10px;
  }
}

.padder {
  padding: 8px;
}

.custom-color {
  display: block;
  text-align: center;

  &:hover {
    background: rgba(0, 0, 0, 0.1);
  }
}

.line {
  display: block;
  height: 1px;
  background: #000000;
}

.color-grid {
  display: block;
  height: 100px;
}

.axis-drop {
  position: absolute;
  top: 8px;
  left: 8px;
  right: 8px;
  bottom: 8px;
  display: none;
  border: 1px dashed #F2F2F2;
}

.axis-drop-anchor {
  display: none;
  margin: 8px;
  border: 1px dashed #F2F2F2;
  height: 25px;
}

.dataframe {
  width: 100%;
  max-width: 100%;
  background: white;

  th, td {
    padding: 5px;
  }

  thead {
    tr {
      th {
        border-right: 1px solid #CCCCCC;
      }
    }

    tr:last-child {
      th {
        border-bottom: 1px solid #CCCCCC;
      }
    }
  }

  tbody {
    tr {
      th {
        border-right: 1px solid #CCCCCC;
      }

      td {
        border-bottom: 1px solid #CCCCCC;
        border-right: 1px solid #CCCCCC;
      }
    }
  }
}

.ide-toggle {
  i {
    font-size: 25px
  }
}

.window-buffer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.9);
  padding: 16px;
  z-index: 9;

  .inner {
    background: #333333;
    position: absolute;
    top: 16px;
    right: 16px;
    bottom: 16px;
    left: 16px;
    height: auto;
  }
}

.admin-control-editor {
  color: #F2F2F2;

  .sys-header {
    background: rgba(0, 0, 0, 0.2);
    padding: 8px;
    border-radius: 16px;
    margin-bottom: 8px;
    text-transform: none;
    font-weight: normal;
  }

  .range-items {
    display: block;
    margin-top: 10px;
    padding-bottom: 15px;

    .range-item {
      display: block;
      margin: 5px;
      border-radius: 3px;
      background: rgba(0, 0, 0, 0.1);
    }
  }

  input[type="text"], input[type="number"] {
    background: rgba(0, 0, 0, 0.1);
    border-radius: 0;
    border: none;
    color: #F2F2F2;
    padding: 0.5em;
  }

  input[type="text"] {
    padding-right: 1.5em;
  }

  select {
    border: none;
    background: rgba(0, 0, 0, 0.1);
    color: #F2F2F2;

    option {
      color: #333333;
    }
  }

  .control-field:nth-child(odd) {
    background: rgba(0, 0, 0, 0.1);
  }

  .control-field {
    color: #F2F2F2;

    .ide-col:first-child {
      padding-left: 5px;
      text-align: right;
      line-height: 37px;
    }

    .ide-col:last-child {
      padding: 5px;
    }
  }
}

.config-menu {
  li {
    display: block;
    padding: 5px;

    ul {
      margin-top: 8px;
      margin-left: 12px;
    }
  }
}

.action-hover {
  position: absolute;
  top: 10px;
  left: 50%;
  background: #333333;
  color: #F2F2F2;
  padding: 8px 16px;
  text-align: center;
  border-radius: 14px;
  box-shadow: 0px 1px 12px #CCCCCC;
}

.alert-card {
  display: flex;
  clear: both;
  flex-direction: row;
  margin: 8px;
  border-radius: 3px;
  background: #FFFFFF;
  border: 1px solid #DADADA;


  .alert-name {
    font-weight: bold;
    font-family: Helvetica, Arial, sans-serif;
    display: block;
    margin-bottom: 8px;
  }

  .column {
    padding: 8px;
  }
}

.location-type {
  display: block;
  padding: 8px;
}

.inline-selector {
  display: block;
  margin: 8px;
  border: 1px solid #DADADA;
  overflow-y: scroll;
  max-height: 300px;

  .form-item {
    border-bottom: 1px solid #DADADA;

    &:hover {
      background: #F2F2F2;
    }

    &.assigned {
      background: #DADADA;
    }

    .selector, .label {
      padding: 5px;

    }

    .selector {
      max-width: 30px;
      min-width: 30px;
      border-right: 1px solid #DADADA;
      align-items: center;
      justify-content: center;
    }

    .label {
      justify-content: center;
      text-align: left;

      span {
        text-align: left;
      }
    }
  }
}

// Id menu
.id-menu {
    padding: 8px 10px;
    display: block;
    min-height: 57px;
    flex: 0;

    .id-user-name {
        font-size: 14px;
        display: block;
        clear: both;
        color: #333;
    }

    .id-user-attr {
        display: block;
        color: rgba(0,0,0,0.7);
        font-size: 12px;
    }
}

.nd-list {
    display: block;
    height: 100%;
    width: 100%;
    overflow-y: scroll;

    &.nd-item:nth-item(odd) {
        background: rgba(0,0,0,0.3);
    }
    .nd-item {

    }

}
