.dark {
    background: #333333;

    .br, .bb, .bl, .bt {
        border-color: #272727;
    }

    .panel {
        background: transparent;
    }

    .dash-handle {
        &:hover {
            background: rgba(0, 0, 0, 0.2);
        }

        color: #F2F2F2;
    }

    .dash-section {
        color: #F2F2F2;
    }
}
