.legacy-dash-widget {
  border: 1px solid #DADADA;
  flex: 1;
  margin: 4px;
  display: flex;
  flex-direction: column;

  &.unsupported {
    p {
      text-align: center;
      width: 200px;
      margin: 0 auto;

    }

    .row:first-child {
      max-height: 60px;
      text-align: center;
      font-size: 18px;
      display: block;
      padding: 16px 0;
    }
  }

}

.legacy-dash-cell {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.view-label {
  display: block;
  float: left;
  padding: 5px;
  margin: 0 8px;
  background: transparent;
  border-radius: 6px;
}

.clicker {
  display: block;
  float: left;
  padding: 5px;
  margin: 0 8px;
  background: transparent;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                   supported by Chrome and Opera */

  &.active, &:hover {
    border-bottom: 3px solid #509ec3;
  }
}

.c-column {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 0%;
  width: 100%;
  background: #9e9e9e;

  &:hover {
    background: red;
  }
}

.card-item {
  background: #FFFFFF;
  border-left: 3px solid transparent;
  padding: 5px;
  margin: 8px;
  transition: all 0.2s ease-out;

  &:hover {
    transform: scale(1.05);
  }

  span {
    display: block;
  }

}

.overview-tabs {
  .column {
    justify-content: center;
    align-items: center;
    text-align: center;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;

    &.active {
      border-bottom: 3px solid #DADADA;
    }
  }
}

.dash-padder {
  margin-bottom: 16px;
  .dash-handle {
    padding-left: 16px;
  }
}

.circle-node {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 3px 3px 0;
  background: #d2d2d2;
  border: 2px solid transparent;
  width: 35px;
  height: 35px;
  padding: 0;
  border-radius: 80px;
  font-size: 0.8rem;
  text-align: center;
  line-height: 2rem;
  transition: all 0.5s ease;
  position: relative;
}

.report-overview {
  display: block;
  margin: 0px 16px 16px 16px;
  background: white;
  padding: 8px;
  border: 1px solid #cecece;

  .report-overview-inner {
    min-height: auto;
  }

  .report-overview-info {
    display: block;

    span {
      display: block;
      clear: both;
      margin: 5px;
    }

  }

  .report-overview-chart {
    flex-grow: 0;
    justify-content: center;
    align-items: center;
  }

  .ro-buttons {
    max-width: 25px;
    min-width: 25px;
  }

  .ro-details {
    flex: 2;

    .grid {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      padding: 8px 0 8px 0;

      .grid-cell {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 3px 3px 0;
        width: 35px;
        height: 35px;
        padding: 0;
        font-size: 0.8rem;
        text-align: center;
        line-height: 2rem;
        transition: all 0.5s ease;
        position: relative;
        background: rgba(0, 0, 0, 0.1);

        .overdue {
          position: absolute;
          bottom: 3px;
          left: 50%;
          margin-left: -2px;
          width: 4px;
          height: 4px;
          background: palevioletred;
          border-radius: 7px;
        }

        &.good {
          background: green;
          color: #F2F2F2;

          &:hover {
            transform: scale(0.9) !important;
          }

        }

        &.disabled {
          border: none;
          background: rgba(0, 0, 0, 0.3);
          color: rgba(0, 0, 0, 0.3);
        }

        &.bad {
          color: #717171;
          background: #f1f1f1;
        }

        &:hover {
          transform: scale(1.05);
          font-size: 1.2rem;
          background: #333333;
          box-shadow: none;
          color: #F2F2F2;
        }

        &.ignore, &.future {
          background: transparent;
          color: #333;
        }

        &.current {
          background: transparent;
          color: #333;
          border: 2px dashed #333;
        }

      }
    }

    .inline-grid {
      tr {
        td {
          text-align: center;
          padding: 3px;

          &:hover {
            background: blue;
          }
        }
      }
    }
  }
}

.header-node {
  justify-content: center;
  align-items: center;
}

.header-node-text {
  font-size: 2.5rem;
  padding: 8px 0;
}

// mixins
.rotate(@rotation) {
  -webkit-transform: rotate(@rotation);
  -moz-transform: rotate(@rotation);
  -ms-transform: rotate(@rotation);
  -o-transform: rotate(@rotation);
  transform: rotate(@rotation);
}

.box-sizing(@box-sizing) {
  -webkit-box-sizing: @box-sizing;
  -moz-box-sizing: @box-sizing;
  box-sizing: @box-sizing;
}

.transition-property(@transition) {
  -webkit-transition-property: @transition;
  -moz-transition-property: @transition;
  -o-transition-property: @transition;
  transition-property: @transition;
}

.transition-duration(@duration) {
  -webkit-transition-duration: @duration;
  -moz-transition-duration: @duration;
  -o-transition-duration: @duration;
  transition-duration: @duration;
}

.transition-timing-function(@timing) {
  -webkit-transition-timing-function: @timing;
  -moz-transition-timing-function: @timing;
  -o-transition-timing-function: @timing;
  transition-timing-function: @timing;
}

// VARS
@circle-width: 0.08em;
@circle-width-hover: 0.04em;

// colors default
@primary-color: #307bbb;
@secondary-color: #ccc;
@bg-color: #f5f5f5;

@primary-color-green: #4db53c;
@primary-color-orange: #dd9d22;

// colors dark skin
@primary-color-dark: #c6ff00;
@secondary-color-dark: #777;
@bg-color-dark: #666;

@primary-color-green-dark: #5fd400;
@primary-color-orange-dark: #e08833;

// mixins
@import "mixins.less";

// CIRCLE
// classes 2 extend
.rect-auto {
  clip: rect(auto, auto, auto, auto);
}

.pie {
  position: absolute;
  border: @circle-width solid @primary-color;
  width: 1 - (2 * @circle-width);
  height: 1 - (2 * @circle-width);
  clip: rect(0em, 0.5em, 1em, 0em);
  border-radius: 50%;
  .rotate(0deg);
}

.pie-fill {
  .rotate(180deg);
}

// main
.c100 {

  *, *:before, *:after {
    .box-sizing(content-box);
  }

  position: relative;
  font-size: 120px;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  float: left;
  background-color: @secondary-color;

  // center circle to its parent
  &.center {
    float: none;
    margin: 0 auto;
  }

  // bigger size
  &.big {
    font-size: 240px;
  }

  // smaller size
  &.small {
    font-size: 80px;
  }

  // centered value inside circle
  > span {
    position: absolute;
    width: 100%;
    z-index: 1;
    left: 0;
    top: 0;
    width: 5em;
    line-height: 5em;
    font-size: 0.2em;
    color: @secondary-color;
    display: block;
    text-align: center;
    white-space: nowrap;
    .transition-property(all);
    .transition-duration(0.2s);
    .transition-timing-function(ease-out);
  }

  // background inside the circle
  &:after {
    position: absolute;
    top: @circle-width;
    left: @circle-width;
    display: block;
    content: " ";
    border-radius: 50%;
    background-color: @bg-color;
    width: 1 - (2 * @circle-width);
    height: 1 - (2 * @circle-width);
    .transition-property(all);
    .transition-duration(0.2s);
    .transition-timing-function(ease-in);
  }

  // the slice (mask)
  .slice {
    position: absolute;
    width: 1em;
    height: 1em;
    clip: rect(0em, 1em, 1em, 0.5em);
  }

  // circle to show the status
  .bar {
    &:extend(.pie);
  }

  // loop to create all needed elements automatically
  .generate-elements(@n, @i: 1) when (@i =< @n) {
    &.p@{i} {
      & .slice {
        &:extend(.rect-auto);
      }
      & .bar:after {
        &:extend(.pie-fill);
      }
      & .fill {
        &:extend(.pie);
        &:extend(.pie-fill);
      }
    }
    .generate-elements(@n, (@i + 1));
  }
  // loop to rotate all 100 circles
  .generate-rotation(@n, @i: 1) when (@i =< @n) {
    &.p@{i} .bar {
      @degs: (360/100*@i);
      .rotate(~"@{degs}deg");
    }
    .generate-rotation(@n, (@i + 1));
  }

  .generate-elements(100, 51);
  .generate-rotation(100, 1);

  // hover styles
  &:hover {

    cursor: default;

    > span {
      width: 3.33em;
      line-height: 3.33em;
      font-size: 0.3em;
      color: @primary-color;
    }

    &:after {
      top: @circle-width-hover;
      left: @circle-width-hover;
      width: 1 - (2 * @circle-width-hover);
      height: 1 - (2 * @circle-width-hover);
    }
  }

  // override colors for the dark skin
  &.dark {

    background-color: @secondary-color-dark;

    .bar,
    .fill {
      border-color: @primary-color-dark !important;
    }

    > span {
      color: @secondary-color-dark;
    }

    &:after {
      background-color: @bg-color-dark;
    }

    &:hover {

      > span {
        color: @primary-color-dark;
      }
    }
  }

  // green skin
  &.green {

    .bar, .fill {
      border-color: @primary-color-green !important;
    }

    &:hover {
      > span {
        color: @primary-color-green;
      }
    }
  }

  &.green.dark {

    .bar, .fill {
      border-color: @primary-color-green-dark !important;
    }

    &:hover {
      > span {
        color: @primary-color-green-dark;
      }
    }
  }

  // orange skin
  &.orange {

    .bar, .fill {
      border-color: @primary-color-orange !important;
    }

    &:hover {
      > span {
        color: @primary-color-orange;
      }
    }
  }

  &.orange.dark {

    .bar, .fill {
      border-color: @primary-color-orange-dark !important;
    }

    &:hover {
      > span {
        color: @primary-color-orange-dark;
      }
    }
  }
}

.introduction {
  .introduction-inner {
    margin: 10px;
    border-radius: 8px;
    background: lightcoral;

    .icon {
      flex: 1;
      text-align: center;
      justify-content: center;
      align-items: center;
      flex-grow: 0;
      padding: 26px !important;
      color: rgba(0, 0, 0, 0.4);
    }

    .column {
      padding: 8px;
    }

    .title {
      display: block;
      font-weight: bold;
      font-size: 2rem;
      margin-bottom: 16px;
    }
  }
}

.tour-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  z-index: 99999999999999999;

  .tour-mask {
    position: absolute;
    display: block;
    box-shadow: 0 0 0 9999999px rgba(0, 0, 0, 0.9);
    border: 1px solid white;

    .tour-mask-node {
      position: absolute;
      right: -300px;
      background: white;
      width: 279px;
      border-radius: 10px;
      flex-direction: row;
      display: flex;
      min-height: 60px;
      height: 60px;

      .circle {
        flex: 1;
        display: flex;
        height: 100%;
        max-width: 50px;
        min-width: 50px;
        background: lightcoral;
        border-radius: 10px;
        text-align: center;
        justify-content: center;
        align-items: center;
        font-size: 18px;
        color: #F2F2F2;

        .arrow {
          background: lightcoral;
          position: absolute;
          left: -8px;
          transform: rotate(45deg);
          width: 20px;
          height: 20px;
          top: 50%;
          margin-top: -10px;
        }
      }

      .text {
        flex: 2;
        padding: 8px;
      }
    }
  }

  .tour-content-outer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
  }

  .tour-content {
    position: absolute;
    top: 60px;
    display: block;
    width: 500px;
    left: 50%;
    margin-left: -250px;
    background: white;
    min-height: 200px;
    border-radius: 8px;
    padding: 16px;
    border: 2px solid #b1b1b1;

    h2 {
      display: block;
      font-size: 1.6rem;
      margin-bottom: 8px;
      margin-top: 8px;
    }

    p {
      padding-top: 3px;
      padding-bottom: 4px;
      line-height: 1.4rem;
    }
  }
}

.cube-buttons {
  margin-top: 8px;
  margin-bottom: 8px;
  flex-direction: row;

  .cube-button:last-child {
    margin-right: 0;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
  }

  .cube-button:first-child {
    margin-left: 0;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
  }

  .column {
    padding: 0px !important;

  }

  .cube-button {
    flex: 1;
    background: rgba(0, 0, 0, 0.1);
    transition: all 0.2s ease;
    margin-left: 4px;
    margin-right: 4px;
    min-height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    i {
      font-size: 20px;
      margin-bottom: 8px;
    }

    &:hover {
      background: rgba(255, 255, 255, 0.1);
      transform: scale(1.05);
    }
  }
}

.tutorial {
  position: absolute;
  display: flex;
  flex-direction: row;
  top: 16px;
  left: 16px;
  bottom: 16px;
  right: 16px;
  border-radius: 3px;
  box-shadow: 0 0 0 99999px rgba(0, 0, 0, 0.8);
  border: 1px solid #FFFFFF;
}

.tutorial-view {
  display: flex;
  max-width: 25%;
  min-width: 25%;
  border-right: 2px solid white;

  .view-inner {
    border-radius: 8px;
    background: #F2F2F2;
    height: 100%;
    display: flex;
    flex-direction: column;
    width: 100%;
    color: #333;
    .bottom {
      max-height: 34px;
      min-height: 34px;
      padding-left: 8px;
      padding-right: 8px;
    }

    .inner {

      padding: 8px;
      overflow-y: scroll;

      h4 {
        display: block;
        font-size: 1.3rem;
        margin-bottom: 8px;
      }

      p {
        font-size: 11px;
        line-height: 1.2rem;
        padding-bottom: 5px;
      }

      ul {
        padding-left: 16px;
        padding-bottom: 8px;
        li {
          font-size: 11px;
          list-style-type: circle;
        }
      }
    }

  }
}

.tut-intro {
  padding: 30px;

  h4 {
    font-size: 2rem;
    display: block;
    text-align: center;

    margin-bottom: 16px;
  }

  p {
    font-size: 13px;
    line-height: 1.2rem;
    padding-bottom: 6px;
  }

  ul {
    display: block;
    list-style: circle;

    li {
      display: block;
    }
  }
}

.with-actions {
  .action-item {
    background: #F2F2F2 !important;
    color: #333333 !important;

    &:hover {
      background: mediumpurple !important;
      color: #F2F2F2 !important;
    }
  }
}

.no-reporting-period {
  background: #F9F9F9;
  border: 1px solid palevioletred;
  padding: 8px;
  display: flex;
  flex-direction: row;

  .icon {
    max-width: 50px;
    font-size: 2rem;
    justify-content: center;
    align-items: center;
  }

  .content {
    justify-content: center;
  }

  p {
    padding-bottom: 8px;
  }

  .col-button {
    flex: 0;
  }

}

.over-alarm-view {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 4px;
    margin-top: 4px;
    background: rgba(0, 0, 0, 0.04);

    .loc-name {
        flex: 2;
        display: block;
        font-weight: bold;
        padding: 8px;
    }

}

.over-alarm-ind {
    display: flex;
    width: 15%;
    flex-direction: column;
    flex: 1;
    padding: 8px;
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;

    &:hover {
        background: rgba(0, 0, 0, 0.1);
    }

    .over-alarm-ind-label {
        font-weight: bold;
        font-size: 10px;
        text-align: center;
    }

    .over-alarm-ind-count {
        font-size: 14px;
        text-align: center;
        padding: 8px 0;
    }
}

.over-alarm-spark {
    flex: 2;
    border-left: 1px solid rgba(0, 0, 0, 0.1);
}

.auditor-locations {
    display: block;
    height: 100%;
    overflow-y: scroll;

    .auditor-row {
        margin: 5px;
        display: flex;
        flex-direction: row;
    }
}
