.reporting-form {
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 16px;
  padding-bottom: 16px;
  overflow-y: auto;
  display: block;
  flex: 2;

  .form-header {
    display: block;
    margin-top: 16px;
    margin-bottom: 8px;
    background: #d2d2d2;
    padding: 8px;
    color: #313131;
    font-size: 1.2rem;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
  }

  .matrix {
    display: flex;
    flex-direction: column;

    .matrix-row {
      display: flex;
      flex-direction: row;
    }
  }

}

.field, .field-matrix {
  display: block;
  margin-bottom: 16px;
  margin-top: 8px;

  .error {
    border-bottom: 1px solid #DADADA;
    border-left: 1px solid #DADADA;
    border-right: 1px solid #DADADA;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    background: lightcoral;
    padding: 3px;
    font-size: 11px;
  }

  .guidance {
    border-bottom: 1px solid #DADADA;
    border-left: 1px solid #DADADA;
    border-right: 1px solid #DADADA;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    padding: 3px;
    font-size: 11px;
  }

  .label {
    border-top: 1px solid #DADADA;
    border-right: 1px solid #DADADA;
    border-left: 1px solid #DADADA;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    background: #F2F2F2;
    padding: 5px 8px;
    clear: both;
    display: inline-block;
  }

  .control {
    display: block;
    border: 1px solid #DADADA;
    padding: 8px;

  }

  .matrix-wrapper {
    border: 1px solid #DADADA;
  }

  .select-wrapper {
    display: block;
    overflow: hidden;
    background: #FFFFFF;
    position: relative;
    border: none;

    i, svg {
      position: absolute;
      top: 11px;
      right: 14px;
    }
  }

  input[type="text"] {
    width: 100%;
    height: 100%;
    padding: 5px;
    font-size: 12px;
    box-sizing: border-box;
    border: 1px solid transparent;

    &:focus {
      border: 1px solid lightblue;
      outline-offset: 0px !important;
      outline: none !important;
    }

  }

  textarea {
    width: 100%;
    height: 100%;
    min-height: 40px;
    box-sizing: border-box;
    font-size: 12px;
    padding: 5px;
    border: 1px solid #DADADA;
    max-width: 100%;
    resize: vertical;

    &:active, &:focus {
      border: 1px solid lightblue;
      outline-offset: 0px !important;
      outline: none !important;
    }
  }

  select {
    width: 100%;
    padding: 5px;
    font-size: 12px;
    border: 0;
    color: #333333;
    line-height: 1;
    border-radius: 0;
    height: 34px;
    background: transparent;

    option {
      color: #333333;
    }
  }
}

.clearer {
  display: block
}

.err-bar {
  background: #333333;
  max-width: 5px;
  width: 5px;
}

.dg-search {
  display: flex;
  flex-direction: row;
  border: 1px solid #DADADA;
  border-radius: 6px;
  font-size: 14px;
  height: 25px;
  max-height: 25px;
  margin-top: 4px;
  margin-right: 8px;

  flex: 1;

  .search-icon {
    padding-top: 6px;
    text-align: center;
  }

  input {
    border: none;
    box-sizing: border-box;
    width: 100%;
    height: 100%;

    &:focus {
      outline: none;
    }
  }
}

.matrix-row {
  border-bottom: 1px solid #CCCCCC;

  .matrix-row-cell {
    padding: 5px;
    border-right: 1px solid #CCCCCC;
    background: rgba(0, 0, 0, 0.04);

    .field {
      margin-top: 3px;
      margin-bottom: 3px;
    }

    &:last-child {
      border-right: none;
    }
  }
}

// Shake the dust
.matrix-row-label {
  background: #DADADA;
  border-bottom: 1px solid #CCCCCC;
  padding: 5px;
  max-width: 20%;
}

.field-form {
  .field {
    display: flex;
    flex-direction: row;

    .label {
      flex: 1;
      min-width: 30%;
      max-width: 30%;
      background: transparent;
      border: none;

    }

    .clearer {
      display: none;
    }

    .control {
      flex: 2;
      border: 1px solid rgba(255, 255, 255, 0.1);

      .select-wrapper {
        background: transparent;
      }

      .form-control {
        background: rgba(255, 255, 255, 0.1);
      }

      select {
        background: rgba(255, 255, 255, 0.1);
        color: rgba(255, 255, 255, 0.9);
      }

      input {
        color: rgba(255, 255, 255, 0.9);
        background: rgba(255, 2555, 255, 0.1);
      }
    }
  }
}

.repeater-field {
  table {
    width: 100%;

    thead {
      tr {
        th {
          border-right: 1px solid #DADADA;
          border-bottom: 1px solid #DADADA;
          text-align: center;
          background: rgba(0, 0, 0, 0.1);
          padding: 3px;
          font-weight: bold;
        }

        th:last-child {
          border-right: none;
        }
      }
    }

    tbody {
      tr {
        th, td {
          border-right: 1px solid #DADADA;
          border-bottom: 1px solid #DADADA;
          padding: 3px;
        }

        td {
          text-align: center;
        }

      }
    }
  }
}

.date-node {
  display: block;
  border-radius: 3px;
  padding: 4px;
  margin: 8px 4px;
  background: #FFFFFF;

  &:hover {
    background: rgb(37, 37, 37);
    color: #FFFFFF;
  }
}

.cmp-field {
  background: #333;
  max-width: 50px;
  width: 50px;
  color: #F2F2F2;
  height: 100%;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;

  border: 1px solid #F2F2F2;
  box-shadow: inset 0px -1px 0px #000;

  position: relative;
  text-align: center;

  &:hover {
    background: #CCCCCC;
  }

  .cmp-field-inner {
    .column {
      text-align: center;
      justify-content: center;
      align-items: center;
    }
  }

  .cmp-childs {
    position: absolute;
    transition: all 0.3s ease-out;
    top: 35px;
    height: 60px;
    left: 50%;
    margin-left: -60px;
    background: #333333;
    width: 120px;
    border-radius: 6px;
    z-index: 9999;
  }

  .filter-content {
    input[type="text"] {
      width: 100%;
      height: 100%;
      border: 0px;
    }
  }
}

.modal-inner {
  display: block;
  position: absolute;
  top: 30px;
  width: 500px;
  left: 50%;
  margin-left: -250px;
  background: white;
  box-shadow: 0px 3px 3px #333;
  transition: all 0.3s ease-out;
}