.article {
  margin: 0 0 15px 0;
  font-size: 12px !important;
  -webkit-font-smoothing: antialiased;
  color: #424142;

  h1:first-child, h2:first-child, h3:first-child, h4:first-child, h5:first-child {
    margin-top: 0;
  }

  /* Copy & Lists */
  p {
    font-size: 14px;
    line-height: 18px;
    margin-top: 5px;
    margin-bottom: 14px;

    i {
      font-style: italic;
    }
  }

  p:first-child {
    margin-top: 14px;
  }

  ul,
  ol,
  dl {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 30px;
  }

  ul li,
  ol li {
    line-height: 1.2rem;
    font-size: 14px;
    border-left: 5px solid #CCC;
    padding-left: 10px;
  }
  ul ul,
  ol ul,
  ul ol,
  ol ol {
    margin-top: 0;
    margin-bottom: 0;
  }

  dl {
    dt {
      font-weight: bold;
      display: block;
      float: left;
      padding-right: 8px;
      margin-bottom: 8px;
    }

    dd {
      margin-bottom: 8px;
      display: block;
      overflow-y: hidden;
    }
  }

  blockquote {
    line-height: 1.5rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }
  /* Headings */
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    /* Change heading typefaces here */
    font-family: sans-serif;
    margin-top: 1.5rem;
    margin-bottom: 0;
    line-height: 1.5rem;
  }
  h1 {
    font-size: 2rem;
    margin-bottom: 2rem;
    margin-top: 3rem;
  }
  h2 {
    font-size: 1.8rem;
    margin-bottom: 1.8rem;
    margin-top: 3rem;
  }
  h3 {
    font-size: 21px;
  }
  h4 {
    font-size: 18px;
  }
  h5 {
    font-size: 16px;
  }
  h6 {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 8px;
  }

  code {
    display: block;
  }

  .article-table {
    width: 100%;

    tr {
      th {
        background: @label-bottom;
        color: @defaultTxtColor;
      }

      th, td {
        padding: 8px;
        border: 1px solid @label-border;
      }
    }
  }

  /* Code blocks */
  code {
    vertical-align: bottom;
    background-color: @label-bottom;
    padding: 8px;
    border-radius: 3px;
  }
  /* Leading paragraph text */
  .lead {
    font-size: 1.414rem;
  }
  /* Hug a the block above you */
  .hug {
    margin-top: 0;
  }

  blockquote {
    background: #f9f9f9;
    border-left: 10px solid #ccc;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    quotes: "\201C""\201D""\2018""\2019";
  }
  blockquote:before {
    color: #ccc;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
  }
  blockquote p {
    display: inline;
  }

  .breadcrumb {
    display: block;
    width: 100%;
    background-color: @label-bottom;

    ul {
      display: block;

      margin: 0;
      padding: 0;

      li {
        list-style: none;
        display: block;
        float: left;

        a {
          display: block;
          float: left;
          padding: 8px 10px;
          color: #1780c9;

          &:hover {
            color: @grey;
          }
        }
      }

    }
  }

  p {
    img {
      max-width: 100%;
    }
  }

  img {
    max-width: 100%;
  }

  img.alignright {
    float: right;
    margin: 0 0 1em 1em
  }
  img.alignleft {
    float: left;
    margin: 0 1em 1em 0
  }
  img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto
  }
  a img.alignright {
    float: right;
    margin: 0 0 1em 1em
  }
  a img.alignleft {
    float: left;
    margin: 0 1em 1em 0
  }
  a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto
  }
}