.date-picker {

  .cal-left, .cal-right {
    background: #333;
    color: #FFF;
    padding: 8px;
    text-align: center;
    cursor: pointer;
    margin-top: 8px;

    &:hover {
      background: #DADADA;
      color: #333;
    }
  }

  .cal-week {
    padding: 0;
    border: 1px solid #dadada;
    cursor: pointer;

    &.inactive {
      .cal-week-no, .cal-week-label {
        background: #CCC;
        border: none;
        color: #FFFFFF;
      }
    }

    &:hover, &.selected {
      .cal-week-no, .cal-week-label {
        background: #333;
        color: #FFF;
      }
    }

    td {
      padding: 0;

      .cal-week-no {
        padding: 5px 0;
      }

      .cal-week-label {
        padding: 5px;
        text-align: left;
      }
    }
  }

  .cal-header {
    background: #dadada;
    color: #333;
    padding: 8px;
    text-align: center;
    margin-top: 8px;
    text-transform: uppercase;
    font-weight: bold;
  }

  .cal-left {
    margin-left: 8px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
  }

  .cal-right {
    margin-right: 8px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
  }

  table {
    width: 100%;

    tr {
      td, th {
        text-align: center;
        padding: 5px 0;
        width: 12.5%;
      }

      th {
        background: #333;
        color: #FFF;
      }

      .cal-week-no {
        border: 1px solid #333;
        background: #333;
        color: #FFF;
      }

      .cal-day, .cal-month {
        padding: 5px 0;
        background: #FFF;
        color: #333;
        text-align: center;
        border: 1px solid #dadada;
        cursor: pointer;

        &.selected {
          background: #333;
          color: #FFF;
        }

        &:hover {
          background: #333;
          color: #FFFFFF;
        }

        &.inactive {
          background: #CCC;
          color: #F2F2F2;
        }
      }

      .cal-day-nan {
        padding: 5px 0;
        background: #dadada;
        color: #CCC;
        text-align: center;
        border: 1px solid #dadada;

        &.selected {
          background: #333;
          color: #FFF;
        }
      }

    }
  }

}