.ide-panel {
  .reports {
    display: block;
    margin: 8px;

    .report {
      display: block;
      border: 1px solid transparent;
      color: #F2F2F2;
      padding: 8px;
      cursor: pointer;

      &:hover {
        border: 1px solid #CCC;
      }
    }
  }
}

.dms {
  .col-4 {
    .h3 {
      font-size: 18px;
      border-bottom: 1px solid @label-border;
      margin-bottom: 8px;
    }
  }
}

.documents-dashboard {
  color: #F2F2F2;

  .hero {
    height: 300px;
    border-bottom: 1px solid @black-border;
  }
}

.documents-dashboard {
  .editor {
    width: 1024px;
    max-width: 1024px;
    margin: 0 auto;
  }
}

.ewarschart {
  min-height: 150px;
  display: block;
}

.raw-wyg {
  display: inline-block;
  *display: inline;
  zoom: 1;
  min-height: 0;
  margin: 0 0 0 0;
}

.ewarschart-title, .ewarschart-content {
  box-shadow: 0 1px 1px #ddd inset;
  border: 1px solid #cccccc;
  border-radius: 5px;
  background: #fff;
}

.ewarschart-title {
  margin: 0 0 8px;
  padding: 5px 8px;
}

.ewarschart-content {
  padding: 0 8px;
}

.report-template-wrapper {
  display: block;
}

.report-template {
  display: block;
  margin: 0 auto;
  width: 1024px;
  background: #FFFFFF;

  font-size: 12px !important;
  -webkit-font-smoothing: antialiased;
  color: #424142;
  line-height: 110%;

  h1:first-child, h2:first-child, h3:first-child, h4:first-child, h5:first-child {
    margin-top: 0;
  }

  /* Copy & Lists */
  p {
    font-size: 14px;
    line-height: 1.2rem;
    margin-top: 5px;
    margin-bottom: 0;
  }

  p:first-child {
    margin-top: 0px;
    padding-bottom: 8px;
  }

  ul,
  ol,
  dl {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    margin-left: 30px;
  }
  ul li,
  ol li {
    line-height: 1.2rem;
    font-size: 14px;
    list-style-type: circle;
  }
  ul ul,
  ol ul,
  ul ol,
  ol ol {
    margin-top: 0;
    margin-bottom: 0;
  }

  dl {
    dt {
      font-weight: bold;
      display: block;
      float: left;
      padding-right: 8px;
      margin-bottom: 8px;
    }

    dd {
      margin-bottom: 8px;
      display: block;
      orverflow-y: hidden;
    }
  }

  blockquote {
    line-height: 1.5rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }
  /* Headings */
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    /* Change heading typefaces here */
    font-family: sans-serif;
    margin-top: 1.5rem;
    margin-bottom: 0;
    line-height: 1.5rem;
  }
  h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
  }
  h2 {
    font-size: 1.6rem;
    margin-bottom: 1.8rem;
    margin-top: 3rem;
  }
  h3 {
    font-size: 21px;
  }
  h4 {
    font-size: 18px;
  }
  h5 {
    font-size: 16px;
  }
  h6 {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 8px;
  }

  /* Tables */
  table {
    width: 100%;
    border-spacing: 0px;
    border-collapse: collapse;
    float: none;
  }
  table td,
  table th {
    padding: 0;
    line-height: 100%;
  }

  table {
    th {
      text-align: left;
      background-color: @label-bottom;
      padding: 8px 8px 8px 8px;
      font-weight: bold;
    }

    td, th {
      padding: 8px 8px 8px 8px !important;
      line-height: 110%;
    }
  }

  /* Code blocks */
  code {
    vertical-align: bottom;
    background-color: @label-bottom;
    padding: 8px;
    border-radius: 3px;
  }
  /* Leading paragraph text */
  .lead {
    font-size: 1.414rem;
  }
  /* Hug a the block above you */
  .hug {
    margin-top: 0;
  }

  blockquote {
    background: #f9f9f9;
    border-left: 10px solid #ccc;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    quotes: "\201C""\201D""\2018""\2019";
  }
  blockquote:before {
    color: #ccc;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
  }
  blockquote p {
    display: inline;
  }

  .breadcrumb {
    display: block;
    width: 100%;
    background-color: @label-bottom;

    ul {
      display: block;

      margin: 0;
      padding: 0;

      li {
        list-style: none;
        display: block;
        float: left;

        a {
          display: block;
          float: left;
          padding: 8px 10px;
          color: #1780c9;

          &:hover {
            color: @grey;
          }
        }
      }

    }
  }

  p {
    img {
      max-width: 100%;
    }
  }

  img {
    max-width: 100%;
  }

  img.alignright {
    float: right;
    margin: 0 0 1em 1em
  }
  img.alignleft {
    float: left;
    margin: 0 1em 1em 0
  }
  img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto
  }
  a img.alignright {
    float: right;
    margin: 0 0 1em 1em
  }
  a img.alignleft {
    float: left;
    margin: 0 1em 1em 0
  }
  a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto
  }
}

.template-report-list {
  display: block;
  background: #FFF;
  overflow-y: auto;
  height: 100%;
  padding-top: 8px;

  .template-report-item {
    display: block;
    padding: 8px;
    color: #333;
    border: 1px solid @label-border;
    margin: 0px 8px 8px 8px;
    cursor: pointer;
    font-size: 14px;

    &:hover {
      background: #F2F2F2;
    }
  }
}

body {
  &.dms-print {

    #core-navigation, #core-footer, #dms-shoulder-wrap, .dms-tbar {
      display: none !important;
    }

    #application {
      display: block;
      overflow: auto;
    }

    .ide-col, .ide-row, .ide-layout, .ide-panel-absolute {
      background: #FFF;
      display: block;
      position: relative;
      overflow: auto;
    }

    .report-template {
      width: 100%;
      margin: 0 auto;
      box-shadow: none;
      top: auto;
      left: auto;
    }
  }
}

.dms-browser-title {
  display: block;
  padding: 8px 16px;
  border-top: 1px solid @label-border;

  h3 {
    font-size: 24px;
    margin-bottom: 8px;
  }

  h4 {
    font-size: 14px;
    display: block;
    text-transform: uppercase;
    margin-bottom: 5px;
  }
}

#dms-main {
  background: #FFFFFF;

  .ide-layout {
    background: #FFF;
  }
}

.border-bottom {
  border-bottom: 1px solid @label-border;
}

.border-top {
  border-top: 1px solid @label-border;
}

.dms-breadcrumb {
  display: block;
  float: left;
  margin-top: 3px;
  margin-left: 8px;

  a, span {
    display: inline-block;
    font-size: 12px;
    color: #FFF;
    padding: 8px;
    background: #333;
    border-right: 1px solid @label-bottom;

    &:hover {
      background: @label-bottom;
      color: #333;
    }
  }

  a:first-child {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
  }

  a:last-child, span {
    border-top-right-radius: 3px;
    background: @label-border;
    border-right: none;
    color: #333;

    &:hover {
      background: @label-border;
      color: #333;
    }
  }
}

.dms-report-templates {
  display: block;
  max-height: 300px;
  font-size: 14px;
  overflow-y: scroll;

  .dms-report-template {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid @label-border;
    padding: 8px 16px;
    cursor: pointer;

    .name {
      font-weight: bold;
      flex: 2;
      margin-bottom: 5px;
      display: block;
    }

    .interval {
      margin-bottom: 5px;
    }

    .interval, .startDate {
      flex: 1;
    }

    &:hover {
      background-color: #ececec;

    }
  }

}

.dms-search {
  padding: 8px !important;

  label {
    display: block;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background: #333;
    color: #F2F2F2;
    padding: 5px;
    font-weight: bold;
    margin-bottom: 0;
  }
}