@black-border: #000000;
@darkBgd: #252525;
@lightBgd: #333;
@bottomBorder: #232323;
@tbarBgd: #313131;
@tbarBorder: #232323;
@lightTbarTop: #353535;

@btnTextDefault: rgb(173, 173, 173);
@btnTextHover: rgb(100, 100, 100);

@tbarBackground: rgb(37, 38, 40);
@tbarBorderTop: rgb(30, 30, 30);

@actionBarBgd: rgb(45, 48, 50);
@actionBarBorderTop: rgb(67, 67, 67);
@actionBarBorderBottom: rgb(38, 38, 38);

* {
  flex-shrink: 0;
}

.ide {
  display: flex;
  height: 100%;
  overflow: hidden;

  &.ide-v {
    flex-direction: column;
  }

  &.ide-h {
    flex-direction: row;
  }
}

.ide-tbar {
  padding-left: 8px;
  height: 36px;
  background: @tbarBackground;
  border-bottom: 1px solid @tbarBorderTop;

  .ide-tbar-text, .ide-tbar-icon {
    float: left;
    display: block;
    color: @defaultTxtColor;
    font-size: 14px;
    line-height: 22px;
    padding-right: 8px;
  }

  .ide-tbar-icon {
    width: 14px;
    margin-right: 5px;
  }

  .ide-tbar-text-bold {
    font-weight: bold;
  }
}

.ide-scroll {
  overflow-y: auto;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.ide-panel {
  display: block;
  position: relative;
  height: 100%;
  min-height: 100%;
  max-height: 100%;

  &.ide-panel-v {
    display: flex;
    flex-direction: column;
    flex: 1;
  }

  &.ide-scroll {
    overflow-y: auto;
  }

  &.border-right {
    border-right: @idePanelBorder;
  }

  &.border-left {
    border-left: @idePanelBorder;
  }

  &.ide-panel-padded {
  }

  &.ide-panel-absolute {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .ide-tab-body {
    margin-left: 30px;
    height: 100%;
    width: 250-35px;
    display: block;
    float: right;
    background: #333;

    .loca.tion-stack, .tree-wrapper {
      width: 100%;
    }

  }

}

.ide-container {
  background: #333;
  display: block;
  height: 100%;
}

.ide-tabs {
  user-select: none;

  border-left: 1px solid rgba(255, 255, 255, 0.06);
  border-top: 1px solid rgba(255, 255, 255, 0.06);
  box-shadow: 0 -1px 0 #000000;

  -webkit-transform-origin: 17px 18px;
  -moz-transform-origin: 17px 18px;
  -o-transform-origin: 17px 18px;
  -ms-transform-origin: 17px 18px;
  transform-origin: 17px 18px;

  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);

  background: #252525;
  height: 34px;
  white-space: nowrap;
  position: absolute;
  width: 10000px;
  z-index: 10000;

  .ide-tab {
    padding: 10px 10px 6px 10px;
    display: inline-block;
    white-space: nowrap;
    cursor: default;
    margin-left: -1px;
    margin-right: 2px;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
    text-shadow: 0;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    height: 34px;
    color: #F1F1F1;

    span {
      color: #FFF;
    }
  }

  .ide-tab-down, .ide-tab:hover {
    color: #f1f1f1;
    background: #303130;
    border-left: 1px solid #000000;
    border-right: 1px solid #000000;
    box-shadow: -1px 0 rgba(255, 255, 255, 0.06) inset, -1px 0 rgba(255, 255, 255, 0.06);
    margin-left: -2px;
    margin-right: 1px;
    vertical-align: top;
    margin-top: -2px;
    padding-bottom: 8px;
    height: 34px;
  }
}

.ide-panel-resize {
  display: block;
  height: 100%;
  width: 100%;
  cursor: ew-resize;
}

.ide-settings-panel {
  display: flex;
  flex-direction: row;

  .ide-settings-nav {
    flex: 1;
    padding: 8px 0 0 0;
    background: #303030 url("../../image/c9-noise.png");
    -webkit-box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.03) inset;
    -moz-box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.03) inset;
    box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.03) inset;
    width: 170px;
    height: 100%;
    box-sizing: border-box;

    .ide-settings-nav-bbar {
      display: block;
      margin-bottom: 8px;
    }
  }

  .ide-settings-bbar {
    display: block;
    border-bottom: 1px solid #252525;
    padding-left: 10px;
  }

  .ide-settings-section {
    display: block;
    flex: 1;

    &.ide-settings-section-active {
      .section-header {
        color: #ffffff;
        background: #5e6d06;
        text-shadow: inherit;
      }

      .section-items {
        height: auto;
        display: block;
        visibility: visible;
        padding-bottom: 1em;
        padding-top: 1em;
      }
    }

    .section-header {
      font-weight: bold;
      margin-left: 0;
      margin-right: 0;
      font-size: 10px;
      color: #aaaaaa;
      padding-left: 0;
      cursor: default;
      text-transform: uppercase;
      padding: 6px 15px 6px 26px;
      position: relative;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;

      .section-caret {
        display: block;
        float: left;
        margin-right: 5px;
      }
    }

    .section-items {
      display: block;
      visibility: collapse;
      height: 0;
      padding-left: 36px;

      background: rgba(60, 60, 60, 0.5);

      .section-item {
        display: block;
        color: #dddddd;
        text-decoration: none;
        margin-top: 2px;
        padding: 3px 8px 3px 8px;
        margin-left: -8px;
        margin-right: 0;
        font-size: 12px;
        cursor: default;
      }
    }
  }

}

.ide-settings-content {
  display: block;
  flex: 3;
  background: @ideBgd;

  .ide-settings-header {
    display: block;
    padding: 18px 18px 10px 18px;
    font-size: 19px;
    text-shadow: 0 1px #000000;
    color: #f1f1f1;

    .ide-settings-icon {
      display: block;
      float: left;
      margin-right: 10px;
    }

    .ide-settings-title {
      color: #F1F1F1;
      span {
        color: #F1F1F1;
      }
    }
  }

  .ide-settings-intro {
    color: #F1F1F1;
    display: block;
    padding: 5px 5px 18px 45px;
    border-bottom: 1px solid #252525;

    p {
      color: #F1F1F1;
    }
  }

  .ide-section-basic {
    background: #363636;
    border-bottom: 1px solid #252525;
    border-top: 1px solid #353535;
    padding: 0;

    .ide-tbar {
      display: block;
      margin: 0px 0px 8px 0px;
      background-color: @ideTbarBgd;
      font-size: 12px;
      color: #969696;
      border-bottom: @ideTbarBorderBottom;
      padding: 6px;
      text-align: left;
    }

    .header {
      padding: 8px 15px 8px 15px;
      font-size: 14px;
      color: #dddddd;
      border-bottom: 1px solid #232323;
      background-color: #313131;
      margin: 0;
    }

    .description {
      display: block;
      color: #dddddd;
      padding: 8px 15px 8px 15px;
      font-size: 12px;
    }

    .vsplit-box {
      display: block;
      padding: 10px 10px 10px 15px;

      .ide-setting-label {
        display: block;
        color: #999999;
        font-size: 12px;
        text-overflow: ellipsis;
        -webkit-font-smoothing: antialiased;
        font-family: Tahoma, Arial;
        overflow: hidden;
        cursor: default;
        padding: 2px 2px 2px 0;
        white-space: nowrap;
        margin-bottom: 8px;
      }

      .ide-setting-control {
        display: block;

      }
    }

    .hsplit-box {
      .display-flex();
      padding: 10px 10px 10px 15px;

      .ide-setting-label {
        flex: 1;
        color: #999999;
        font-size: 12px;
        text-overflow: ellipsis;
        -webkit-font-smoothing: antialiased;
        font-family: Tahoma, Arial;
        overflow: hidden;
        cursor: default;
        padding: 2px 2px 2px 0;
        white-space: nowrap;
        margin-bottom: 8px;

        span {
          color: #999999;
          margin-right: 8px;
        }

        .helper {
          .handle {
            display: block;

          }
        }
      }

      .ide-setting-control {
        flex: 1;

        input, textarea {
          &:disabled {
            background: #CCCCCC;
            cursor: not-allowed;
          }
        }
      }
    }
  }
}

.ide-setting-error {
  color: @red;
  display: block;
  padding: 5px;
  font-size: 12px;
  background: @lightRed;
  margin-top: 3px;
  border-radius: 3px;

  span, i {
    color: @red;
  }
}

.ide-inline-grid {
  display: block;
  border: @ideDTBorder;
  margin-top: 16px;
  margin-left: 12px;
  background: @ideBgd;
  margin-right: 12px;
  margin-bottom: 16px;

  table {
    width: 100%;

    thead {
      tr {
        th {
          background: @ideInlineGridHeaderBgd;
          border: @ideInlineGridHeaderBorder;
          padding: 8px;
          text-align: left;
          color: @ideInlineGridHeaderColor;
        }
      }
    }

    tbody {
      tr {
        td {
          padding: 8px;
          background: @ideInlineGridCellBgd;
          border: @ideInlineGridCellBorder;
          color: @ideInlineGridCellColor;
        }
      }
    }
  }
}

.ide-basic-list {
  display: block;
  font-size: 14px;
  padding-left: 8px;
  padding-top: 8px;
  margin-right: 8px;

  &.click {

    li {
      &:hover {
        background: #252525;
        color: #F1F1F1;
      }
    }
  }

  li {
    display: block;
    padding: 3px;
    cursor: default;
    color: #F1F1F1;
  }
}

.ide-filler {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;

  .ide-filler-icon {
    color: @fillerColor;
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 200px;
    margin-left: -100px;
    margin-top: -100px;
    text-align: center;
  }
}

.point-selector {
  height: 300px;
  display: block;
  position: relative;
}

.ide-list-item-detailed {
  display: block;
  margin: 8px;
  padding: 8px;
  cursor: default;
  color: #F1F1F1;
  border: 1px solid transparent;
  background: rgba(255, 255, 255, 0.06);

  &.left-green {
    border-left: 1px solid @green;
  }

  &.left-red {
    border-left: 1px solid @red;
  }

  &:hover {
    border: 1px solid #acacac;
  }

  .icon {
    display: block;
    font-size: 12px;
    float: left;
    padding-right: 5px;
  }

  .title {
    display: block;
    color: #F1F1F1;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
  }

  .title-small {
    display: block;
    color: #F1F1F1;
    overflow: hidden;
    font-size: 12px;
    line-height: 110%;
  }

  .description {
    display: block;
    font-size: 12px;
    color: #F1F1F1;
  }
}

.ide-control-bar {
  display: block;
  padding-left: 9px;
  padding-right: 9px;
  border-bottom: 1px solid #252525;
}

.ide-unsupported {
  display: block;
  margin: 18px;

  .title {
    color: #F1F1F1;
    font-size: 16px;
  }

  p {
    color: #F1F1F1;
    font-size: 12px;
  }
}

.ide-indicator-tree {
  display: block;
  padding: 12px;
  margin-bottom: 12px;

  border: 1px solid #252525;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  margin-top: 12px;
  background: #414141;
  color: #F1F1F1;

  max-height: 300px;
  overflow-y: auto;

  font-size: 12px;

  margin-right: 12px;
  margin-left: 12px;

  ul {
    display: block;

    li {
      display: block;

      .handle {
        display: block;
        width: 20px;
        padding: 3px;
        text-align: center;
        border-radius: 3px;

        &:hover {
          background-color: #252525;
        }
      }

      .label {
        display: block;
        padding-top: 3px;
        padding-bottom: 3px;
      }

      .children {
        display: block;
        padding-left: 18px;
        padding-top: 0.3em;
        padding-bottom: 0.75em;
      }
    }
  }
}

.ide-list-wrapper {
  display: block;
  height: 100%;
  overflow-y: scroll;
  width: 100%;
  max-height: 100%;
}

.ide-layout {
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -o-flex;
  flex-basis: auto;
  flex-grow: 1;

  height: 100%;
  width: 100%;
  flex: 1;
  flex-direction: column;
  min-height: 0;

  .ide-row {
    flex-basis: auto;
    flex-grow: 1;
    flex: 1;
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: -o-flex;
    flex-direction: row;
    min-height: 0;

    .ide-col {
      flex-basis: auto;
      flex-grow: 1;
      display: block;
      flex-direction: column;
      flex: 1;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flexbox;
      display: -o-flex;
      position: relative;
      min-height: 0;

      &.border-right {
        border-right: @idePanelBorder;
      }

      &.border-left {
        border-left: @idePanelBorder;
      }

      &.border-top {
        border-top: @idePanelBorder;
      }

      &.flexed {
        display: flex;
        flex-direction: column;

      }

      &.hidden {
        overflow: hidden;
      }

      &.border-bottom {
        border-bottom: @idePanelBorder;
      }
    }
  }
}

.ide-relative {
  position: relative;
}

.ide-hide-overflow {
  overflow: hidden;
}

.ide-contents {
  display: block;
  height: 100%;
  overflow-y: scroll;
}

.ide {
  .pagination {
    background: @tbarBgd;
    border-top: 1px solid @lightTbarTop;
    border-bottom: 1px solid @tbarBorder;
    font-size: 12px;
    color: #969696;
  }


  .filter-bar, .ide-tbar {
    display: block;

    background: @ideTbarBgd;
    border-top: @ideTbarBorderTop;
    border-bottom: @ideTbarBorderBottom;
    min-height: 35px;
    max-height: 35px;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .btn-group {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 5px;
    margin-right: 5px;
  }
}

.ide-tree {
  display: block;

  li {
    display: block;
    padding: 3px;
  }
}

.ide-data-view {
}

.task-wrapper {
  display: block;

  .project {
    display: block;
    margin: 18px 18px 8px 18px;

    .projectName {
      display: block;
      font-weight: bold;
      text-transform: uppercase;
      font-size: 16px;
      margin-bottom: 8px;
      color: #F2F2F2;
      background: #000;
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
      padding: 5px;
    }

    .items {

      display: block;
      margin-left: 16px;

      .statusName {
        display: block;
        font-weight: bold;
        margin-bottom: 8px;
        font-size: 14px;
        text-transform: uppercase;

        &.green {
          color: @green;
        }

        &.orange {
          color: @amber;
        }
      }

      ul.task-list {
        display: block;
        margin-bottom: 16px;

        li:nth-child (2) {
          color: pink;
        }

        li {
          display: block;
          background: #656565;
          border-radius: 3px;
          margin-bottom: 5px;
          padding: 5px;
          color: #F2F2F2;
          font-size: 14px;

          &.completed {
            background: @green;
            color: @lightGreen;
          }

          table {
            tr {
              td {
                text-align: left;
              }
            }
          }
        }
      }
    }
  }

}

.ide-search {
  display: block;
  float: left;
  margin-right: 16px;
  height: 25px;

  .ide-search-clear {
    text-align: center;
    width: 25px;
    height: 25px;
    line-height: 23px;
    color: #F2F2F2;
  }

  .ide-search-clear {
    cursor: pointer;
    color: rgb(150, 150, 150);
    text-align: center;

    &:hover {
      color: #000;
    }
  }

  .ide-search-options {

  }

  .ide-layout {
    background: transparent;
  }

  input {
    background: transparent;
    height: 25px;
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
    border-bottom: 1px solid #969696 !important;
    color: #F2F2F2;
    line-height: 23px;

    &:focus {
      outline: none !important;
      border-top: none !important;
      border-left: none !important;
      border-right: none !important;
      border-bottom: 1px solid #969696 !important;
    }
  }

  &.pull-right {
    float: right;
  }

  .ide-select {
    display: block;
    margin-right: 8px;
    color: rgb(150, 150, 150);
    font-size: 12px;
    height: 25px;

    &:hover > .ide-select-handle {
      background: rgb(81, 81, 81);
      color: #333;
    }

    .ide-select-current {
      display: block;
      position: relative;
      cursor: pointer;

      .value {
        padding-right: 6px;
        line-height: 24px;
        text-indent: 5px;
      }

      .ide-select-handle {
        display: inline-block;
        height: 25px;
        max-width: 25px;
        text-align: center;
        border-left: 1px solid rgb(81, 81, 81);
        line-height: 24px;
        width: 25px;

        &:hover {
          background: rgb(81, 81, 81);
          color: #333;
        }
      }
    }

  }
}

.ide-select-options {
  display: block;
  position: absolute;
  background: #333;
  z-index: 999;
  min-width: 200px;
  font-size: 12px;

  .ide-select-option {
    display: block;
    padding: 8px;
    cursor: pointer;
    color: #F1F1F1;
    border-bottom: 1px solid rgb(81, 81, 81);

    &:hover {
      background: #CCC;
      color: #333;
    }
  }
}

.ide-link-select {
  flex: 1;
  color: @whoBlue;
  position: relative;

  .options {
    position: absolute;
    lefT: 0;
    top: 22px;
    background: #FFF;
    min-width: 100px;
    min-height: 20px;
  }
}

.overflow-auto {
  overflow-y: visible !important;
  overflow-x: visible !important;
  overflow: visible !important;
}

.helper {
  display: inline-block;
  position: relative;

  .handle {
    display: block;
    font-size: 14px;
    color: #333;
    cursor: pointer;
  }

  .info {
    position: absolute;
    bottom: 0;
    left: 30px;
    background: #FFF;
    min-width: 200px;
    min-height: 60px;
    border-radius: 3px;
  }
}

.ide-menu {
  display: block;
  color: #F2F2F2;
  font-size: 12px;

  .ide-menu-item {
    display: block;
    margin-bottom: 8px;

    .ide-menu-item-main {
      display: block;
      padding: 8px;

      &.has-children {
        background: #2d3032;
        border-bottom: 1px solid #262626;
        font-weight: bold;
        text-transform: uppercase;
        margin-bottom: 5px;
      }

      &:hover {
        background: #000;
      }

      .icon {
        display: block;
        float: left;
        width: 20px;
        text-align: center;
        color: #F2F2F2;
      }

      .label {
        display: block;
        overflow: hidden;
      }
    }

    .ide-menu-item-children {
      display: block;
      margin-left: 10px;

      .ide-menu-item {
      }
    }

  }
}

.ide-htabs {
  display: block;
  background: #2d3032;
  padding: 0 16px;
  font-size: 12px;
  border-bottom: 1px solid #262626;
  height: 35px;

  .ide-htab-btn {
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    padding: 8px 20px 8px 8px;
    margin-right: 8px;
    display: inline-block;
    cursor: pointer;
    color: #939393;
    border-bottom: none;
    margin-top: -1px;
    position: relative;

    .ide-htab-close {
      position: absolute;
      top: 4px;
      right: 0px;
      text-align: center;
      height: 100%;
      width: 20px;
      display: block;

      &:hover {
        color: red;
      }
    }
  }

  .ide-htab-btn-active, .ide-htab-btn:hover {
    border-bottom: none;
    margin-top: 6px;
    color: #F2F2F2;
    background: #363636;
  }
}

.iw-tab-content {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.feature-list {
  display: block;

  .feature {
    display: block;
    margin-bottom: 8px;

    &.left-green {
      .feature-header {
        .name {
          border-left: 5px solid @green;
        }
      }
    }

    .feature-header {
      .display-flex();
      max-height: 35px;
      border: 1px solid @ideDTCellBgd;
      background: #313131;
      color: #DDDDDD;

      .name {
        display: block;
        flex-basis: 0;
        flex-grow: 1;
        padding-left: 8px;
        line-height: 31px;
        border-left: 5px solid black;
      }

      .handle {
        flex-basis: 0;
        flex-grow: 1;
        max-width: 25px;
        text-align: center;
        border-left: 1px solid @ideDTRowBorderBottom;
        line-height: 31px;
      }
    }

    .description {
      p {
        color: #F2F2F2;
        font-size: 12px;
      }
      color: #F2F2F2;
    }

    .description, .options {
      display: block;
      padding: 8px;
      border-left: @ideDTRowBorderBottom;
      border-right: @ideDTRowBorderBottom;
      border-bottom: @ideDTRowBorderBottom;
    }

  }
}

.block-tree {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow-y: auto;

  .section {
    display: block;
    border-top: 1px solid #262626;

  }

  .block {
    display: block;
    margin: 8px;

    &.active {

    }

    &.hoverable {
      &:hover {
        .block-content {
          background: rgba(0, 0, 0, 0.1);
        }
      }
    }

    .block-content {
      display: block;
      cursor: pointer;
      border: @block-border;
      background: @block-bgd;
      padding: 8px;
      color: @block-color;

      &.status-green {
        border-left: 3px solid @green;
      }

      &.status-red {
        border-left: 3px solid @red;
      }

      &.status-amber {
        border-left: 3px solid @amber;
      }

      &.status-default {
        border-left: 3px solid transparent;
      }

      .btn-group {
        margin-top: 0;
        margin-bottom: 0;
      }

    }

    .block-children {
      display: block;
      margin-left: 16px;

      .block {
        margin: 8px 0 0 0 !important;
      }
    }
  }
}

.dropzone {
  min-height: 50px;
  border: 1px solid #dadada;
  background: @label-bottom;
}

.ind-drop-zone {
  display: block;
  min-height: 200px;
  background: #333;
  border: 1px solid #DADADA;
  position: relative;

  .placeholder {
    position: absolute;
    top: 50%;
    margin-top: -15px;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    padding: 0;
  }
}

button {
  &.plain-btn {
    border: none;
    background: @inputBgd;
    color: @defaultTxtColor;
    text-align: center;
    padding: 3px;
    margin: 0 5px 0 0;

    i {
      color: @defaultTxtColor;
    }

    &:hover {
      background: black;
    }
  }
}

.tag-editor {
  display: block;

  .tag-results {
    padding-top: 8px;
    .block {
      display: block;
      background: #333;
      color: #F2F2F2;
      padding: 8px;
      margin-bottom: 5px;
      margin-left: 5px;
      margin-right: 5px;

      &:hover {
        background: #CCC;
        cursor: pointer;
      }
    }
  }
  .tags {
    margin-top: 10px;
    padding: 8px;
    display: block;
    max-height: 100px;
    overflow-y: scroll;
    border: 1px solid #CCC;

    .tag-item {
      display: block;
      background: #000;
      color: #F2F2F2;
      border-radius: 3px;
      font-size: 14px;
      margin-bottom: 8px;
    }

    .tag-label {
      padding: 5px;
      border-right: 1px solid #333;
    }

    .tag-delete {
      padding: 5px;
      text-align: center;
      &:hover {
        background: red;
        cursor: pointer;
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
      }
    }
  }
}

.layout-editor-cell {
  min-height: 100px;
  background: #898989;
  color: #FFF;
  border-radius: 3px;
  display: block;
  margin: 8px;
  position: relative;

  .layout-editor-widget {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    border-radius: 3px;

    &:hover {
      background: #CCC;
    }

    .name {
      text-align: center;
      position: absolute;
      width: 100%;
      top: 50%;
      margin-top: -7px;
    }
  }
}

.inline-list {
  display: block;
  margin: 10px;
  border: @inputBorder;
  padding: 10px 10px 0 10px;

  .list-item {
    display: block;
    padding: 8px;
    background: @inputBgd;
    border: @inputBorder;
    margin-bottom: 10px;

  }
}

.report-header {
  background: #F2F2F2;
  padding: 16px 25px;
  margin-bottom: 0px;
}

.report-info {
  padding: 5px 25px;
  text-align: right;
  font-size: 10px;

  p {
    font-size: 11px;
  }
}

.report-title {
  display: block;
  font-size: 18px;
  font-weight: bold;
}

.report-sub-title {
  display: block;
  margin-top: 8px;
  margin-bottom: 8px;
  font-size: 12px;
}

.ide-wrapper {
  display: block;
  height: 100%;
  width: 100%;

}

.meta-table {
  margin: 10px 10px 10px 10px;
  border: @inputBorder;
  padding: 8px;

  td, th {
    padding: 8px;
    text-align: left;
  }

  th {
    background: #333;
  }

  td {
    background: @inputBgd;
  }
}

.user-header {
  display: block;
  background: @inputBgd;
  border-bottom: @inputBorder;
  border-top: @inputBorder;
  text-align: center;
  padding: 32px 16px 0px 16px;

  .user-avatar, .user-details, .user-tabs {
    display: block;
  }

  .user-avatar {
    margin-bottom: 8px;
    img {
      width: 180px;
      border-radius: 90px;
    }
  }

  .user-name {
    font-weight: bold;
    font-size: 22px;
    margin-bottom: 4px;
  }

  .user-role {
    margin-bottom: 8px;
  }

  .user-tabs {
    border-top: @inputBorder;
    border-bottom: @inputBorder;
    margin-top: 30px;
  }

  .user-meta {
    margin-bottom: 8px;
  }

}

.profile-wrapper {
  width: 100%;
  text-align: start;
  margin: 0 auto;
  display: block;
}

.tbar-btns {
  float: right;
}

.tbar-btn {
  display: block;
  float: left;
  text-align: center;
  width: 30px;
  height: 35px;
  margin-top: -6px;
  line-height: 36px;
  cursor: pointer;
  border-left: @inputBorder;

  &:hover {
    i {
      color: blue;
    }
  }
}

.workflow-table {
  thead {
    tr {
      th {
        background: @inputBgd;
        padding: 8px;
        text-align: center;
      }
    }
  }

  tbody {
    tr {
      th, td {
        padding: 8px;
        border-bottom: @inputBorder;

        .block-tree {
          padding: 0;

          .block {
            margin-top: 0;
            margin-right: 0;
            margin-left: 0;
            margin-bottom: 5px;
          }
        }
      }

    }
  }
}

.action-button {
  display: inline-block;
  width: 25px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  cursor: pointer;
  position: relative;

  .action-button-tip {
    display: none;
    position: absolute;
    background: rgba(0, 0, 0, 0.8);
    //background: @inputBgd;
    padding: 3px 5px;
    text-align: left;
    border-radius: 3px;
    z-index: 999999;
    color: #F2F2F2;
  }

  &:hover {
    i {
      color: @whoBlue;
    }

  }

  i {
    color: @defaultTxtColor;
    text-align: center;
  }
}

.action-group {
  display: inline-block;

  &.pull-right {
    float: right;
  }

  .action-button {
    display: inline-block;
    width: 25px;
    height: 20px;
    text-align: center;
    line-height: 20px;

    &:hover {
      i {
        color: @whoBlue;
      }
    }

    i {
      color: @defaultTxtColor;
      text-align: center;
    }
  }
}

.wkflw-tree {
  td {
    background: @inputBgd;
    border: @inputBorder;
    padding: 5px;
    border: 1px solid #F2F2f2;
    text-align: center;

  }
}

.gitgraph-tooltip {
  position: absolute;
  margin-top: -15px;
  margin-left: 25px;
  padding: 10px;
  border-radius: 5px;
  background: #EEE;
  color: #333;
  text-align: center;
  font-size: 14px;
  line-height: 20px;
}

.gitgraph-tooltip:after {
  position: absolute;
  top: 10px;
  left: -18px;
  width: 0;
  height: 0;
  border-width: 10px;
  border-style: solid;
  border-color: transparent;
  border-right-color: #EEE;
  content: "";
}

.gitgraph-detail {
  position: absolute;
  padding: 10px;
  text-align: justify;
  width: 600px;
  display: none;
}

.CodeMirror {
}

.req-assign-hover {
  margin: 8px;
  border: @inputBorder;
  padding: 8px;
  cursor: pointer;
  border-radius: 3px;

  &:hover {
    background: #333333;
    color: #F2F2F2;
  }
}

.plot-tree {
  display: block;

  .node {
    display: block;

    &.selected {
      .node-control {
        background: green;
      }
    }

    .node-handle {
      display: block;
    }

    .node-children {
      display: block;
      margin-left: 20px;
    }

    .node-control {
      padding: 5px 4px;
      margin-right: 8px;
      &:hover {
        background: steelblue;
        border-radius: 3px;

        .node-ctx {
          display: block;
        }

      }
    }
  }

  .node-ctx {
    float: right;
    margin-right: 5px;

    display: none;
  }
}

.filter-drop {
}

.widget-table {
  thead {
    tr {
      td {
        padding: 6px;
        border-bottom: 1px solid #333333;
        text-align: center;
        min-width: 100px;
        color: #000000;
      }
    }
  }

  tbody {
    tr {
      th {
        text-align: left;
        color: #000000;
        padding: 6px;
      }

      td {
        padding: 6px;
        color: #000000;
      }
    }
  }
}

.pv-table {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: row;

  thead tr:last-child th {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }

  .row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: stretch;
  }

  .col {
    display: flex;
    min-width: 100px;
    flex-direction: column;
    text-align: right;
    flex-grow: 1;
    flex-shrink: 0;

    &.sub {
      border-right: 1px solid rgba(0, 0, 0, 0.1);
      display: block;
      flex-basis: 0;
    }
  }
}

.d3-tip {
  position: absolute;
  text-align: center;
  font: 12px sans-serif;
  background: white;
  border: 1px solid rgba(0, 0, 0, 0.1);
  pointer-events: none;
  z-index: 99;

  div {
    display: block;
    padding: 8px;
  }
}

.bk-logo {
  display: none !important;
}

.title-editor {
  border: 1px solid transparent;
  cursor: pointer;

  &:hover {
    border: 1px solid rgba(0, 0, 0, 0.1);
  }

  .title-input {
    display: none;

    input {
      border: none;
      border-radius: 0;
      padding: 0;
      height: 23px;
    }
  }

  .title-text {
    font-size: 14px;
    padding-top: 3px;
  }

  &.shown {
    .title-input {
      display: block
    }
    .title-text {
      display: none;
    }
  }

}

.var-drop {
  position: absolute;
  top: 5px;
  right: 5px;
  bottom: 5px;
  left: 5px;
  border: 1px dashed #F2F2F2;
  display: none;
}

.set-drop {
  position: absolute;
  top: 5px;
  right: 5px;
  bottom: 5px;
  left: 5px;
  border: 1px dashed #F2F2F2;
  display: none;
}

.style-selector {
  display: block;
  margin-bottom: 8px;
  position: relative;
  border: @inputBorder;

  .style-handle {
    display: block;
    border: 1px solid rgba(0, 0, 0, .1);
    padding: 5px;
  }

  .style-options {
    display: none;
    position: absolute;
    top: 100%;
    z-index: 2;

    .style-opts-inner {
      display: block;
      background: #F2F2F2;
      border: 1px solid rgba(0, 0, 0, 0.1);
    }

    .style-opt {
      display: block;
      padding: 5px;
      cursor: pointer;

      &:hover {
        background: #CCCCCC;
      }
    }

  }
}

.axis-drop-options {
  display: none;
  position: absolute;
  top: 100%;
  z-index: 99999999;
  background: #FFFFFF;

  .axis-drop-inner {
    display: block;
    min-width: 60px;
    background: #333333;
    padding: 5px;
    border: @inputBorder;
  }

  .opt {
    display: block;
    padding: 5px;
    cursor: pointer;

    &:hover {
      background: #CCCCCC;
    }
  }
}

.plot-marks {
  .ide-col {
    margin: 3px;
  }
}

.plot-settings {
  display: block;
  border: 1px solid #F2F2F2;
  border: @inputBorder;
  border-radius: 3px;
  background: rgba(255, 255, 255, 0.1);
  cursor: pointer;

  &:hover {
    background: rgba(255, 255, 255, 0.2);
  }

  .icon {
    text-align: center;
    font-size: 12px;
    padding-top: 8px;
    padding-bottom: 8px;
  }

  .text {
    text-align: center;
    padding-bottom: 5px;
    font-size: 10px;
  }
}

.padder {
  padding: 8px;
}

.custom-color  {
  display: block;
  text-align: center;

  &:hover {
    background: rgba(0,0,0,0.1);
  }
}

.line {
  display: block;
  height: 1px;
  background: #000000;
}

.color-grid {
  display: block;
  height: 100px;
}

.axis-drop {
  position: absolute;
  top: 8px;
  left: 8px;
  right: 8px;
  bottom: 8px;
  display: none;
  border: 1px dashed #F2F2F2;
}

.axis-drop-anchor {
  display: none;
  margin: 8px;
  border: 1px dashed #F2F2F2;
  height: 25px;
}

.dataframe {
  width: 100%;
  max-width: 100%;
  background: white;

  th, td {
    padding: 5px;
  }

  thead {
    tr {
      th {
        border-right: 1px solid #CCCCCC;
      }
    }

    tr:last-child {
      th {
        border-bottom: 1px solid #CCCCCC;
      }
    }
  }

  tbody {
    tr {
      th {
        border-right: 1px solid #CCCCCC;
      }

      td {
        border-bottom: 1px solid #CCCCCC;
        border-right: 1px solid #CCCCCC;
      }
    }
  }
}

.ide-toggle {
  cursor: pointer;

  i {
    font-size: 25px
  }
}

.window-buffer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.9);
  padding: 16px;
  z-index: 9;

  .inner {
    background: #333333;
    position: absolute;
    top: 16px;
    right: 16px;
    bottom: 16px;
    left: 16px;
    height: auto;
  }
}

.admin-control-editor {
  color: #F2F2F2;

  .sys-header {
    background: rgba(0,0,0,0.2);
    padding: 8px;
    border-radius: 16px;
    margin-bottom: 8px;
    text-transform: none;
    font-weight: normal;
  }

  .range-items {
    display: block;
    margin-top: 10px;
    padding-bottom: 15px;

    .range-item {
      display: block;
      margin: 5px;
      border-radius: 3px;
      background: rgba(0, 0, 0, 0.1);
    }
  }

  input[type="text"], input[type="number"] {
    background: rgba(0, 0, 0, 0.1);
    border-radius: 0;
    border: none;
    color: #F2F2F2;
    padding: 0.5em;
  }

  input[type="text"] {
    padding-right: 1.5em;
  }

  select {
    border: none;
    background: rgba(0, 0, 0, 0.1);
    color: #F2F2F2;

    option {
      color: #333333;
    }
  }

  .control-field:nth-child(odd) {
    background: rgba(0, 0, 0, 0.1);
  }

  .control-field {
    color: #F2F2F2;

    .ide-col:first-child {
      padding-left: 5px;
      text-align: right;
      line-height: 37px;
    }

    .ide-col:last-child {
      padding: 5px;
    }
  }
}

.config-menu {
  li {
    display: block;
    padding: 5px;


    ul {
      margin-top: 8px;
      margin-left: 12px;
    }
  }
}

.action-hover {
  position: absolute;
  top: 10px;
  left: 50%;
  background: #333333;
  color: #F2F2F2;
  padding: 8px 16px;
  text-align: center;
  border-radius: 14px;
  box-shadow: 0px 1px 12px #CCCCCC;
}
