.notification-stream {
  display: block;
  z-index: 99999999;
  
  ul {
    padding: 0;
    margin: 0;
    
    & li:first-of-type {
      padding: 10px 0 10px;
    }
    
    li {
      position: relative;
      display: block;
      border-left: 1px solid @label-border;
      margin-left: 35px;
      padding: 10px 0;
      
      
      .timeline-icon {
        position: absolute;
        left: -18px;
        top: 15px;
        border: 2px solid #EB6A5A;
        border-radius: 30px;
        font-size: 18px;
        text-align: center;
        width: 36px;
        height: 36px;
        background-color: @white;
        
        i {
          line-height: 32px;
          
        }
      }

      .block {
        display: inline-block;
        position: relative;
        padding: 0px 20px 0 36px;

        .caret {
          position: absolute;
          width: 16px;
          height: 16px;
          top: 10px;
          left: 28px;
          margin-top: 5px;
          padding: 0 !important;
          vertical-align: middle;
          background: url("image/arrow-left.png") no-repeat;
        }
        
        .box {
          padding: 0;
          border: 1px solid @label-border;
          position: relative;
          border-radius: 5px;
          margin: 0px 0px 0px 0px;
          display: inline-block;
          
          .timeline-top-info {
            display: block;
            background: none repeat scroll 0% 0% #F7F9FA !important;
            border-bottom: 1px solid @label-border !important;
            padding: 10px;
            
            .timeline-time {
              display: block;
              font-size: 0.8em;
              color: #333;
            }
          }
          
          .timeline-content {
            display: block;
            padding: 10px;
          }
        }
        
      }

      
    }
    
  }
  
}

.prompt-wrapper {
  display: block;
  position: fixed;
  z-index: 999999;
  height: 100%;
  width: 100%;
  top: 0;
  lefT: 0;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA9JREFUeNpiYGBgaAAIMAAAhQCB69VMmQAAAABJRU5ErkJggg==);

  .prompt-container {
    display: block;
    position: absolute;
    left: 50%;
    width: 350px;
    margin-top: 100px;
    margin-left: -175px;
    background-color: #FFF;
    border-radius: 3px;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);

    .prompt-header {
      border-bottom: 1px solid @label-border;
      display: block;
      padding: 10px;
      background-color: #333;
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;

      .prompt-icon {
        display: block;
        float: left;
        width: 20px;
        color: @white;
      }

      .prompt-title {
        display: block;
        overflow-y: hidden;
        color: @white;
      }
    }

    .prompt-body {
      padding: 10px 10px 10px 31px;
      font-size: 12px;
      line-height: 16px;
    }

    .footer {
      border-top: 1px solid @label-border;
    }
  }
}

.message-view {
  display: block;
  position: absolute;
  bottom: 10px;
  right: 10px;
  background: #FFF;
  border: 1px solid @label-border;
  height: 400px;
  width: 550px;
}

.feed-stream {
  display: block;
  overflow-y: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 1rem;
  max-height: 300px;

  .event {
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    padding: 0;
    margin: 0 8px 0 0;
    background: 0 0;
    border-top: none;


    .event-label {
      display: block;
      width: 2.5em;
      height: auto;
      align-self: stretch;
      text-align: left;

      i {
        opacity: 1;
        font-size: 1.5em;
        width: 100%;
        padding: .25em;
        background: 0 0;
        border: none;
        border-radius: none;
        color: rgba(0,0,0,.6);
      }

      .event-avatar {
        width: 100%;
        height: auto;
        border-radius: 500rem;
      }
    }


    .event-content {
      display: block;
      margin: 6px;
      align-self: stretch;
      text-align: left;
      word-wrap: break-word;
      flex-basis: 0;
      flex: 2;

      .event-summary {
        margin: 0 8px 0 0;
        font-size: 1.2em;
        font-weight: 700;
        color: rgba(0,0,0,.87);
        padding-bottom: 5px;

        .event-user {
          display: inline-block;
          font-weight: 700;
          margin-right: 0;
          vertical-align: baseline;
        }

        .event-date {
          display: inline-block;
          float: none;
          font-weight: 400;
          font-size: .85714286em;
          font-style: normal;
          margin: 0 0 0 .5em;
          padding: 0;
          color: rgba(0,0,0,.4);
        }
      }

      .event-text-extra {
        padding: 0;
        border-left: none;
        font-size: 1.2em;
        max-width: 500px;
        line-height: 1.4285em;
      }
    }

    .meta-item {
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      width: 100%;
      padding: .21428571rem 0;
      margin: 0;
      background: 0 0;
      border: @inputBorder;
      cursor: pointer;

      &:hover {
        background: rgba(0,0,0,0.1);
      }

      .meta-graphic {
        display: block;
        width: 3.5em;
        height: auto;
        align-self: stretch;
        text-align: left;


        .meta-icon {
          width: 100%;
          text-align: center;
          font-size: 2em;
          height: auto;
          padding-top: 10px;
          padding-bottom: 10px;
        }
      }

      .meta-content {
        display: block;
        margin: .5em 0 .35714286em 1.14285714em;
        align-self: stretch;
        text-align: left;
        word-wrap: break-word;
        flex-basis: 0;
        flex: 2;

        .meta-title, .meta-subtitle, .meta-description, .meta-additional {
          padding-bottom: 5px;
        }

        .meta-title {
          font-weight: bold;
        }
      }

    }
  }

  .feed-load-more {
    display: block;
    margin: 10px;
    text-align: center;
    text-transform: uppercase;
    padding: 8px;
    border: 1px solid transparent;
    cursor: pointer;

    &:hover {
      border: @inputBorder;
    }
  }

}
