.table-meta {
  margin-top: 10px;

  th {
    background-color: @label-bottom;
    text-align: left;
    padding: 6px;
  }

  td {
    padding: 6px !important;

    .onoffswitch {
      float: right;
    }
  }
}

.results-wrap {
  max-height: 300px;
  overflow-y: auto;
  margin : 10px;

  .result-table {
    thead {
      tr {
        th {
          background-color: #333;
          color: #FFF;
          padding: 5px;
        }
      }
    }

    tbody {
      tr {
        td {
          padding: 5px;
        }
      }
    }
  }
}


.metric-table {
  width: 100%;
  padding: 16px;

  tr {
    th {
      font-weight: bold;
      padding: 8px;
      text-align: left;

    }

    td {
      padding: 8px;
      text-align: right;
    }
  }

  tr:nth-child(even) {
    th, td {
      background: #eeeeee;
    }
  }
}

.admin-table {
  width: 100%;

  thead {
    tr {
      th {
        padding: 8px;
        text-align: left;
        background: @inputBgd;
        border: @inputBorder;
      }
    }
  }

  tbody {
    tr {
      td {
        padding: 8px;
        border: @inputBorder;
      }
    }
  }
}