.widget {
  display: block;
  //background: #FFF;
  background: @inputBgd;
  margin: 10px 10px 20px 10px;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);

  .widget-container {
    border: none;

    .chart-widget {
      border: none;
      margin-top: 0;
    }

    h4 {
      display: none;
    }
  }

  .widget-header {
    display: block;
    //border-bottom: 1px solid @label-border;
    //background-color: #e8ebee;
    //background-color: #FFFFFF;
    background-color: @ideTbarBgd;
    border-bottom: @inputBorder;
    //border-bottom: 1px solid #dadada;

    span {
      color: #444244;
      font-weight: bold;
      font-size: 14px;
      display: inline-block;
      padding: 10px 16px;
    }

    button {
      span {
        padding: 5px;
        color: @grey;
      }
    }
  }

  .body {
    display: block;
    padding: 16px;

    p {
      font-size: 14px;
    }

    .shoulder-link {
      &.active a {
        background-color: @whoBlue;
        color: @white;
      }
    }

    &.no-pad {
      padding: 0 !important;
    }

    .padded {
      padding: 10px 16px 16px 16px;
    }

    .tabs {
      padding-top: 10px;
      overflow-x: auto !important;
      overflow-y: hidden !important;
      max-height: none;
      min-height: none;

      height: 45px;
      border-bottom: 1px solid @label-border;

      .tab {
        color: @grey;

        span {
          color: @grey;
        }

        &.active {
          color: @whoBlue;
          border-bottom: 3px solid @whoBlue;

          span {
            color: @whoBlue;
          }
        }
      }
    }

    &.padded {
      padding: 10px;
    }

    .placeholder {
      font-size: 14px;
      text-align: center;
      padding-left: 10px !important;
      padding-right: 10px !important;
    }

  }

  .widget-footer {
    display: block;
    //border-bottom: 1px solid @label-border;
    //background-color: #e8ebee;
    background-color: #FFFFFF;
    height: 35px;
    border-top: 1px solid #DCE0E2;

  }
}

.tasks-list {
  li {
    padding: 8px;
  }

  li:nth-child(even) {
    background-color: #f7f9f6;
  }
}

.tasks {
  h4 {
    margin-top: 0;
    margin-bottom: 5px;
    padding-bottom: 5px;
    font-size: 0.8em;
    border-bottom: 1px solid @label-border;
  }

  .overflow-wrap {
    max-height: 250px;
    overflow-y: auto;
    margin-bottom: 10px;
  }

  table {
    tr:nth-child(even) {
      td {
        background-color: #f7f9f6
      }
    }

    tr {
      td {
        padding-bottom: 8px;
        i {
          padding-right: 8px;
        }
      }
    }
  }
}

.widget-option-list {
  margin: 0;
  padding: 0;

  li {
    display: block;
    list-style: none;

    a {
      display: block;
      border: 1px solid @label-border;
      padding: 5px;
      font-sizE: 0.8em;

      &:hover {
        color: @white;
        background-color: @whoBlue;
        border: 1px solid @whoBlue;
      }
    }
  }
}

.priority {
  display: block;
  padding: 8px 10px;
  font-size: 0.8em;
  border-radius: 3px;
  text-align: center;
  float: right;

  &.high {
    background-color: @red;
    color: @white;
  }

  &.mid {
    background-color: @amber;
    color: @white;
  }

  &.low {
    background-color: @grey;
    color: @white;
  }
}

table.metrics-table {
  width: 100%;
  padding: 10px 16px 16px 16px;

  tr:nth-child(odd) {
  }

  tr {
    th:first-child {
      padding-left: 16px;
    }
  }

  th {
    text-align: left;
    padding: 10px 0 16px 0;
    border-bottom: 1px solid @label-bottom;
  }

  td {
    text-align: right;
    padding: 10px 16px 16px 0 !important;
    border-bottom: 1px solid @label-bottom;
  }
}

table.metrics-block {
  width: 100%;

  tr {
    td:last-child {
      border-right: none;
    }

    td {
      width: 33.3333%;
      padding: 10px 0 16px 0;
      border-right: 1px solid @label-border;
      text-align: center;

      &.metrics-chart {
        border-bottom: 1px solid @label-border;
      }

      .metric-title {

      }

      .metric-value {
        font-size: 2em;
        text-align: center;
        padding: 10px 16px 16px 16px;

        span.red {
          color: @red;
        }
      }

      .metric-period {
        font-size: 0.8em;
      }

    }
  }
}

.system-msg {
  display: block;
  margin: 10px;
  padding: 16px 8px 16px 8px;
  background-color: @white;
}

.scroller {
  max-height: 300px;
  overflow-y: auto;
}




.indicator-item {
  display: block;
  background-color: #E3E8EA;
  padding-top: 18px;
  padding-bottom: 18px;
  color: #FFFFFF;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  min-height: 120px;

  .title, .value, .sub-title {
    position: absolute;
    text-align: center;
    width: 100%;
    left: 0;
  }

  .title {
    font-size: 18px;
    top: 8px;
  }

  .value {
    font-size: 30px;
    color: #FFFFFF;
    font-weight: bold;
    padding-top: 16px;
    padding-bottom: 16px;
    top: 50%;
    margin-top: -30px;
  }

  .sub-title {
    bottom: 8px;
    font-size: 12px;
  }
}

.metric-item {
  display: block;
  padding: 18px;

  .amount {
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
  }

  .progress-bar {
    display: block;
    margin: 8px auto;
    height: 8px;
    border: 1px solid @label-border;

    .progress {
      display: block;
      float: left;
      height: 8px;
      background: @label-bottom;
    }
  }

  .label {
    text-align: center;
    font-size: 14px;

  }
}

.map-wrapper {
  .scale {
    position: absolute;
    bottom: 10px;
    left: 10px;
    height: 20px;
    width: 180px;
    background: white;
    z-index: 9;
  }

  .map {
    display: block;
    flex: 1;
    height: 490px;
  }

  .controls {
    flex: 1;
    height: 100%;
    overflow-y: scroll;
  }
}

.timeline {
  .timeline-wrapper {

  }
}


.widget-metric {
  display: block;
  height: 100%;
  padding-top: 16px;
  padding-bottom: 16px;

  .title {
    display: block;
    text-align: center;
    font-size: 16px;
    padding: 8px;
    font-weight: bold;
  }

  .value {
    font-size: 40px;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 18px;
    text-align: center;
  }

  .sub-title {
    display: block;
    text-align: center;
    font-size: 12px;
    padding: 8px;
  }
  .source {
    color: #a8a8a8;
    font-style: italic;
    font-size: 12px;
    padding: 8px;
    text-align: center;
  }
}

.flex-row {
  display: flex;
  flex-direction: row;
  flex: 1;
  height: 100%;

  &.unflexed {
    flex: none !important;
  }

  .flex-col {
    flex: 1;
    display: block;
    position: relative;

    &.flexed {
      display: flex;
      flex-direction: column;
    }
  }
}

.report-list {
  display: block;
  padding-bottom: 8px;
  max-height: 400px;
  overflow-y: auto;

  .report-color-bar {
    display: block;
    position: absolute;
    top: 0;
    lefT: 0;
    width: 100%;
    height: 100%;
    background: orange;
  }

  .report-item {
    display: block;
    margin: 8px 12px 4px 8px;
    background: #F1F1F1;
    cursor: pointer;

    &:hover {
      background-color: @lightGreen;
    }
  }

  .report-view {
    display: block;
    padding: 10px;
    text-align: center;
  }

  .report-details {
    display: block;
    padding: 16px;

    .form-title {
      display: block;
      font-size: 18px;
      margin-bottom: 5px;
      color: rgb(30, 172, 221);
    }

    .location {
      margin-bottom: 5px;
      color: #000;
    }

    .details {
      font-size: 12px;
      color: rgb(172, 169, 172);
    }
  }
}

.report-color-bar-v {
  display: block;
  position: absolute;
  top: 0;
  lefT: 0;
  width: 100%;
  height: 100%;
  background: orange;
}

.alert-map-wrapper {
  display: block;
  position: relative;
  height: 550px;

  .map {
    display: block;
    width: 100%;
    height: 100%;
  }

  .controls {
    position: absolute;
    top: 10px;
    right: 10px;
    bottom: 10px;
    width: 300px;
    background: #FFF;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    overflow-y: auto;
    padding: 8px;
  }
}

.alert-item {
  display: block;
  margin: 8px 8px 4px 8px;
  background: #F1F1F1;
  cursor: pointer;

  &:hover {
    background-color: @lightGreen;
  }

  .details {
    display: block;
    padding: 16px;

    .alarm-name {
      display: block;
      font-size: 18px;
      margin-bottom: 5px;
      color: rgb(30, 172, 221);
    }

    .alarm-location {
      margin-bottom: 5px;
      color: #000;
      font-size: 14px;
    }

    .alert-date {
      font-size: 12px;
      color: rgb(172, 169, 172);
    }
  }
}

.task-item {
  display: block;
  margin: 8px;
  border: 1px solid #DADADA;
  cursor: pointer;

  &:hover {
    background: #DADADA;
  }
}