<!--
  ~ Copyright (c) 2015 WHO.
  ~ All Rights Reserved.
  ~
  ~ NOTICE: All information contained herein is, and remains the property of WHO and its suppliers, if any. The intellectual concepts contained
  ~ herein are proprietary to WHO and its suppliers and
  ~ may be covered under U.S. and Foreign Patents, patents in process, and are protected
  ~ by trade secret or copyright law. Dissemination of this information or reproduction
  ~ of this material is strictly forbidden unless prior written permission is obtained
  ~ from WHO.
  -->

<table width="100%">
    <tr>
        <th>Requesting User</th>
        <td>{{user_name}} ({{user_email}})</td>
    </tr>
    <tr>
        <th>Report</th>
        <td>{{form_name}}</td>
    </tr>
    <tr>
        <th>Reporting Location</th>
        <td>{{location_name}}</td>
    </tr>
    <tr>
        <th colspan="2">Reason</th>
    </tr>
    <tr>
        <td coslapn="2">
            {{reason}}
        </td>
    </tr>

</table>