<!doctype html>


<!--[if lt IE 7]>
<html class="no-js lt-ie10 lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie10 lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie10 lt-ie9"> <![endif]-->
<!--[if IE 9]>
<html class="no-js lt-ie10"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>EWARS - Report Viewer</title>

    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" type="image/x-icon" href="/static/favicon.ico">

    {% if pdf is False %}
    <link rel="stylesheet" href="/static/themes/flex/style.css" media="screen" type="text/css"/>
    <link rel="stylesheet" href="/static/themes/flex/style.css" media="print" type="text/css"/>
    {% else %}
    <link rel="stylesheet" href="/static/themes/flex/style.css" type="text/css"/>
    {% end %}

    <link href='/static/vendor/mapbox/mapbox-gl.css' rel='stylesheet' type="text/css"/>

    <link rel="stylesheet" href="/static/vendor/fontawesome/css/fontawesome-pro-light.css"/>
    <link rel="stylesheet" href="/static/vendor/fontawesome/css/fontawesome-pro-regular.css"/>
    <link rel="stylesheet" href="/static/vendor/fontawesome/css/fontawesome-pro-core.css"/>

    <script type="text/javascript">
        window._isPDF = true;
        window.dt = {
            template_id: "{% raw template_id %}",
            report_date: "{% raw report_date %}",
            location_id: "{% raw location_id %}",
            pdf: '{% raw pdf %}',
            inline: '{% raw inline %}',
            template: '{% raw template %}'.replace(/\n/g, "\\n"),
            location_name: '{% raw location_name %}',
            report: '{% raw report_data %}',
            location: {},
            orientation: '{% raw orientation %}',
            token: '{% raw token %}'
        };


        Function.prototype.bind = Function.prototype.bind || function (thisp) {
            var fn = this;
            return function () {
                return fn.apply(thisp, arguments);
            };
        }
    </script>

    <style>
        * {
            -webkit-print-color-adjust: exact !important; /* Chrome, Safari */
            color-adjust: exact !important; /*Firefox*/
        }
    </style>
</head>
<body>

<div id="report" style="background: white;">
    <div class="report-progress" id="progress-wrapper">
        <div class="report-progress-inner" id="progress"></div>
    </div>
    <div class="report-template-wrapper" id="report-content">
        {% raw template_content %}
    </div>
</div>

<script src="/static/vendor/react/react.dev.js"></script>
<script src="/static/vendor/react/react-dom.dev.js"></script>

<script src="/static/vendor/d3/d3.min.js"></script>
<script src="/static/vendor/underscore.js.gz"></script>
<script src="/static/vendor/jquery.min.js.gz"></script>
<script src="/static/vendor/Highstock-4.2.3/js/highstock-all.js.gz"></script>
<script src="/static/vendor/Highstock-4.2.3/js/highcharts-more.js"></script>
<script src="/static/bundles/{{ ewars_file }}"></script>
<script type="text/javascript" src="/static/bundles/{{ client_file }}"></script>

<script type="text/javascript">
    document.addEventListener("DOMContentLoaded", function () {
        if (window.dt.pdf == "True") {
            document.getElementById("progress-wrapper").style.display = "none";
            if (window.dt.orientation == "PORTRAIT") {
                console.log("HERE");
                document.getElementById("report-content").style.width = "210mm";
            } else {
                console.log("LANDSCAPE");
                document.getElementById("report-content").style.width = "370mm";
            }
        }
        window.Report.init();
    }, false);

</script>

</body>
</html>
