<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="/static/themes/flex/style.css"/>

</head>
<body>

<div class="help-document">
    <div class="article">{% raw content %}</div>
</div>

</body>
</html>