<html>
<head>
    <title>EWARS - Incorrect Verification Code</title>

    <link rel="stylesheet" href="/static/style.css"/>
    <link rel="stylesheet" href="/static/vendor/fontawesome/css/fontawesome-pro-light.css"/>
    <link rel="stylesheet" href="/static/vendor/fontawesome/css/fontawesome-pro-regular.css"/>
    <link rel="stylesheet" href="/static/vendor/fontawesome/css/fontawesome-pro-core.css"/>

    <style>
        .static-wrapper {
            width: 500px;
            margin: 60px auto 0 auto;
        }
    </style>


    <script type="application/json" id="config">{%  raw json_encode(configs) %}</script>

    <script type="text/javascript">

        window.config = JSON.parse(document.getElementById("config").innerText || '{}');

    </script>

</head>
<body>

<div class="static-wrapper">

    <div class="widget">
        <div class="widget-header">
            <span>Incorrect Verification Code</span>
        </div>
        <div class="body">
            <p>The URL you accessed is no longer valid, please contact a system administrator for assistance.</p>
        </div>
    </div>

</div>

</body>
</html>
