<!doctype html>


<!--[if lt IE 7]>
<html class="no-js lt-ie10 lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie10 lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie10 lt-ie9"> <![endif]-->
<!--[if IE 9]>
<html class="no-js lt-ie10"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>EWARS - Report Viewer</title>

    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" type="image/x-icon" href="/static/favicon.ico">

    <link rel="stylesheet" href="/static/themes/flex/style.css" media="screen" type="text/css"/>
    <link rel="stylesheet" href="/static/themes/flex/style.css" media="print" type="text/css"/>
    <link rel="stylesheet" href="/static/themes/flex/style.css"/>
    <link rel="stylesheet" href="/static/vendor/fontawesome/css/fontawesome-pro-light.css"/>
    <link rel="stylesheet" href="/static/vendor/fontawesome/css/fontawesome-pro-regular.css"/>
    <link rel="stylesheet" href="/static/vendor/fontawesome/css/fontawesome-pro-core.css"/>

    <script type="text/javascript">
        window._isPDF = true;
        window.dt = "{% map %}";

        Function.prototype.bind = Function.prototype.bind || function (thisp) {
            var fn = this;
            return function () {
                return fn.apply(thisp, arguments);
            };
        };
    </script>

    <style>
        * {
            -webkit-print-color-adjust: exact !important;   /* Chrome, Safari */
            color-adjust: exact !important;                 /*Firefox*/
        }
    </style>
</head>
<body>

<script src="/static/vendor/react/react.dev.js"></script>
<script src="/static/vendor/react/react-dom.dev.js"></script>

<script src="/static/vendor/underscore.js.gz"></script>
<script src="/static/vendor/jquery.min.js.gz"></script>
<script src="/static/vendor/Highstock-4.2.3/js/highstock-all.js.gz"></script>
<script src="/static/vendor/Highstock-4.2.3/js/highcharts-more.js"></script>
<script src="/static/bundles/{{ ewars_file }}"></script>

<script type="text/javascript">
    window.onload = function () {
        ewars.a.MAP(document.getElementById("map"), window.dt);
    }
</script>

</body>
</html>