<div id="cerebro">
    <div class="ide-layout">
        <div class="ide-row">
            <div class="ide-col border-right" style="max-width: 150px">
                <div class="categories">
                    <div class="wrapper">
                        <ul>
                            <li class="app-cat-click" rel="app-cat-all">
                                <div class="ide-row">
                                    <div class="ide-col" style="max-width: 20px"><i class="fal fa-list"></i></div>
                                    <div class="ide-col">All</div>
                                </div>
                            </li>
                            {% if len(app_cat.get('Data Collection', [])) > 0 %}
                            <li class="app-cat-click" rel="app-cat-collection">
                                <div class="ide-row">
                                    <div class="ide-col" style="max-width: 20px;"><i class="fal fa-database"></i></div>
                                    <div class="ide-col">Data Collection</div>
                                </div>
                            </li>
                            {% end %}
                            {% if len(app_cat.get('Analysis', [])) > 0 %}
                            <li class="app-cat-click" rel="app-cat-analysis">
                                <div class="ide-row">
                                    <div class="ide-col" style="max-width: 20px"><i class="fal fa-chart-area"></i></div>
                                    <div class="ide-col">Analysis</div>
                                </div>
                            </li>
                            {% end %}
                            {% if len(app_cat.get('mande', [])) > 0 %}
                            <li class="app-cat-click" rel="app-cat-mande">
                                <div class="ide-row">
                                    <div class="ide-col" style="max-width: 20px;"><i class="fal fa-tasks"></i></div>
                                    <div class="ide-col">Monitoring &amp; Evaluation</div>
                                </div>
                            </li>
                            {% end %}
                            {% if len(app_cat.get('Admin', [])) > 0 %}
                            <li class="app-cat-click" rel="app-cat-admin">
                                <div class="ide-row">
                                    <div class="ide-col" style="max-width: 20px;"><i class="fal fa-wrench"></i></div>
                                    <div class="ide-col">Administration</div>
                                </div>
                            </li>
                            {% end %}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="ide-col" style="background: #f4f4f4">
                <div class="apps">
                    <div class="wrapper">
                        <div class="app-category" id="app-cat-all">
                            {% for key, SUB_CAT in app_cat.items() %}
                            {% for app in SUB_CAT %}
                            {% if not app.get("system", False) %}
                            <a class="mini-app-link" href="{{app.get('route')}}">
                                <div class="wrapper">
                                    <i class="fal {{app.get('icon')}}"></i> {{app.get('name')}}
                                </div>
                            </a>
                            {% end %}
                            {% end %}
                            {% end %}
                        </div>
                        {% if app_cat.get("Data Collection", None) %}
                        <div class="app-category" id="app-cat-collection" style="display: none;">
                            {% for app in app_cat.get('Data Collection') %}
                            <a class="mini-app" href="{{app.get('route')}}">
                                <div class="wrapper">
                                    <i class="fal {{app.get('icon')}}"></i> {{app.get('name')}}
                                    <p>{{ app.get('description') }}</p>
                                </div>
                            </a>
                            {% end %}

                        </div>
                        {% end %}
                        {% if app_cat.get("Analysis", None) %}
                        <div class="app-category" id="app-cat-analysis" style="display: none">

                            {% for app in app_cat['Analysis'] %}
                            <a class="mini-app" href="{{app.get('route')}}">
                                <div class="wrapper">
                                    <i class="fal {{app.get('icon')}}"></i> {{app.get('name')}}
                                    <p>{{ app.get('description') }}</p>
                                </div>
                            </a>
                            {% end %}

                        </div>
                        {% end %}
                        {% if app_cat.get("mande", None) %}
                        <div class="app-category" id="app-cat-mande" style="display: none">
                            {% for app in app_cat['mande'] %}
                            <a class="mini-app" href="{{app.get('route')}}">
                                <div class="wrapper">
                                    <i class="fal {{app.get('icon')}}"></i> {{app.get('name')}}
                                    <p>{{ app.get('description') }}</p>
                                </div>
                            </a>
                            {% end %}
                        </div>
                        {% end %}
                        {% if app_cat.get("Admin", None) %}
                        <div class="app-category" id="app-cat-admin" style="display: none">
                            {% for app in app_cat['Admin'] %}
                            <a class="mini-app" href="{{app.get('route')}}">
                                <div class="wrapper">
                                    <i class="fal {{app.get('icon')}}"></i> {{app.get('name')}}
                                    <p>{{ app.get('description') }}</p>
                                </div>
                            </a>
                            {% end %}
                        </div>
                        {% end %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    var EWARS = {};

    /**
     * Hides all application category nodes in the menu
     */
    EWARS.hideAllCats = function () {
        var catItems = document.querySelectorAll(".app-category");
        for (var i = 0, len = catItems.length; i < len; i++) {
            var catNode = catItems[i];
            catNode.style.display = "none";
        }
    };

    /**
     * Shows a specific category node in the menu
     */
    EWARS.showCatNode = function (node) {
        EWARS.hideAllCats();
        var cat = document.getElementById(node);
        cat.style.display = "block";
    };

    document.addEventListener("DOMContentLoaded", function () {
        var menuItems = document.querySelectorAll(".app-cat-click");

        for (var i = 0, len = menuItems.length; i < len; i++) {
            var menuItem = menuItems[i];
            menuItem.addEventListener("click", function (e) {
                e.preventDefault();
                EWARS.showCatNode(this.getAttribute("rel"));
            })
        }
    });
</script>