<!doctype html>


<!--[if lt IE 7]>
<html class="no-js lt-ie10 lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie10 lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie10 lt-ie9"> <![endif]-->
<!--[if IE 9]>
<html class="no-js lt-ie10"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>EWARS - Password Reset</title>

    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" type="image/x-icon" href="/static/favicon.ico">

    <link rel="stylesheet" href="/static/themes/flex/style.css"/>
    <link rel="stylesheet" href="/static/vendor/fontawesome/css/fontawesome-pro-light.css"/>
    <link rel="stylesheet" href="/static/vendor/fontawesome/css/fontawesome-pro-regular.css"/>
    <link rel="stylesheet" href="/static/vendor/fontawesome/css/fontawesome-pro-core.css"/>

</head>
<body>

<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a
        href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

<div id="app" class="application">

    <div style="width: 500px; margin: 60px auto 0 auto;">
        <div class="widget">
            <div class="widget-header"><span>Password Reset</span></div>
            <div class="body">
                <div class="article">
                    {% if error %}
                    <p class="error"><i class="fa fa-exclamation-triangle"></i>&nbsp;{{error}}</p>
                    {% end %}
                    <p>Please enter a new password for your account, your password must be a minimum of 6 characters in length.</p>

                    <form action="/authentication/reset/{{verification_token}}" method="post">

                        <div class="ide">
                            <div class="ide-layout">
                                <div class="ide-row" style="margin-bottom: 10px;">
                                    <div class="ide-col">New Password*</div>
                                    <div class="ide-col">
                                        <input type="password" value="" name="password"/>
                                    </div>
                                </div>

                                <div class="ide-row">
                                    <div class="ide-col">Confirm new password*</div>
                                    <div class="ide-col">
                                        <input type="password" value="" name="confirm_pass"/>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <input type="submit" value="Save Password"/>

                    </form>
                </div>
            </div>
        </div>
    </div>

</div>


<script src="/static/vendor/jquery.min.js.gz"></script>
</body>
</html>