<html>
<head>
    <title>EWARS - Incorrect Verification Code</title>

    <link rel="stylesheet" href="/static/themes/flex/style.css"/>
    <link rel="stylesheet" href="/static/vendor/fontawesome/css/fontawesome-pro-light.css"/>
    <link rel="stylesheet" href="/static/vendor/fontawesome/css/fontawesome-pro-regular.css"/>
    <link rel="stylesheet" href="/static/vendor/fontawesome/css/fontawesome-pro-core.css"/>

    <!--<script type="text/javascript" src="/static/vendor/zrender-master/build/zrender.js"></script>-->
    <!--<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,300' rel='stylesheet' type='text/css'>-->

    <style>
        .static-wrapper {
            width: 500px;
            margin: 60px auto 0 auto;
        }
    </style>

    <script>
        function selectRelease(e) {
            console.log(e);
            let item = e.getAttribute("data-r");
            console.log(item);

            document.location = "/releases/" + item;
        }
    </script>

</head>
<body>

<div class="ide">
    <div class="ide-layout">
        <div class="ide-row" style="max-height: 35px;">
            <div class="ide-col">
                <div class="ide-tbar">
                    <div class="ide-tbar-text">Releases</div>
                </div>
            </div>
        </div>
        <div class="ide-row">
            <div class="ide-col border-right" style="max-width: 250px">
                <div class="ide-panel ide-panel-absolute ide-scroll">
                    <div class="block-tree">
                        {% for item in releases %}
                        <div class="block" data-r="{{item[1]}}" onClick="selectRelease(this)">
                            <div class="block-content">{{item[0]}}</div>
                        </div>
                        {% end %}

                    </div>
                </div>
            </div>
            <div class="ide-col">
                <div class="article">
                    <h1>EWARS Releases</h1>

                    <p>This section tracks the active development release schedule for EWARS.</p>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>