.accounts-list {
  position: fixed;
  top: 0;
  right: 0;
  background: #333333;
  width: 350px;
  height: 100%;
  overflow-y: auto;
  padding-top: 4px;
  padding-bottom: 8px;

}

.account-item {
  display: flex;
  flex-direction: row;
  height: 50px;
  margin-bottom: 4px;
  margin-top: 4px;
  cursor: pointer;
  transition: all 0.5s ease;
  background: rgba(255, 255, 255, 0.1);
  transition: background-color 0.2s ease-out;

  &:hover {
    background: rgba(255, 255, 255, 0.4);
  }

  .status {
    display: block;
    margin-right: 8px;
    width: 5px;
    max-width: 5px;
    flex: 1;

    &.active {
      background: @green;
    }
  }

  .logo {
    display: flex;
    width: 50px;
    max-width: 50px;
    background: #DADADA;
    border-radius: 8px;
    justify-content: center;
    vertical-align: middle;
    text-align: center;
  }

  .details {
    display: block;
    padding: 8px;

    .name {
      display: block;
      font-size: 14px;
      color: #FFFFFF;
      margin-bottom: 5px;
    }

    .domain, .role {
      display: block;
      font-size: 12px;
      color: #F2F2F2;
    }
  }
}

.accounts-list {

  &.adder {
    padding: 16px 16px 0 16px;
  }

  .field {
    display: block;
    margin: 8px 0;
  }

  p {
    color: #DADADA;
  }

  h3 {
    display: block;
    font-size: 14px;
    color: #DADADA;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 8px;
  }

  label {
    display: inline-block;
    font-weight: bold;
    padding: 3px;
    background: #F2F2F2;
    border-top: 1px solid #DADADA;
    border-left: 1px solid #DADADA;
    border-right: 1px solid #DADADA;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
  }

  .control {
    display: block;
    border: 1px solid #DADADA;
    box-sizing: border-box;

    input {
      width: 100%;
      border: 1px solid transparent;
      font-size: 12px;
      padding: 3px;
      box-sizing: border-box;

      &:focus {
        outline: none;
        border: 1px solid lightblue;
      }
    }
  }
}
