.action-group {
  display: flex;
  flex-direction: row;
  flex: 1;
  flex-basis: 0;
  flex-grow: 0;
  min-height: 25px;
  max-height: 25px;

  &.naked {
    .action-item {
      border: none !important;
    }
  }

  .sub-group {
    display: flex;
    flex: 1;
    margin-right: 5px;

    flex-basis: 0;
    flex-grow: 0;

    .action-item:first-child {
      border-top-left-radius: 3px;
      border-bottom-left-radius: 3px;
      border-left: 1px solid #DADADA;
    }

    .action-item:last-child {
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px;
    }
  }

  &.naked {
    .action-item {
      background: rgba(0, 0, 0, 0.1);
      box-shadow: none !important;
      border-left: none !important;
      border-right: none !important;
      border-top: none !important;
      border-bottom: none !important;
    }
  }

  .action-item:first-child {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border-left: 1px solid #DADADA;
  }

  .action-item:last-child {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
  }
}

.action-item {
  display: flex;
  color: rgba(0, 0, 0, 0.9);
  max-width: 30px;
  width: 30px;
  font-size: 14px;
  text-align: center;
  justify-content: center;
  vertical-align: middle;
  align-items: center;
  flex: 1;
  transition: all 0.5s ease;

  box-shadow: inset 0 -1px 1px rgba(0, 0, 0, 0.1);
  border-top: 1px solid rgba(0, 0, 0, 0.25);
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  border-right: 1px solid rgba(0, 0, 0, 0.25);

  &:focus {
    outline: 0;
  }

  &:hover {
    background: #484848;
    color: #F2F2F2;
    box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.4);
    font-weight: bold;
  }
}

.action-cell, .footbar {
  .action-item {
    border-top: none !important;
    border-right: none !important;
    border-bottom: none !important;
    border-left: none !important;
    box-shadow: none !important;
  }
}

.dt-toolbar {
  .action-group {
    margin-top: 5px;
    margin-right: 8px;
  }
}

.gen-toolbar {
  min-height: 34px;
  max-height: 34px;
}

.record-toolbar, .gen-toolbar {
  .action-group {
    margin-top: 3px;
    margin-right: 8px;

  }
}

.dark {
  .gen-toolbar {
    .grid-title {
      color: #DADADA;
    }

    .action-item {
      color: #DADADA;
    }
  }
}

.dt-footer {
  .action-group {
    margin-top: 3px;
    margin-right: 8px;
  }
}

.footbar {
  .action-group {
    margin-top: 3px;
  }
}


