.dt-wrapper {
  display: flex;
  flex: 1;
  flex-direction: column;

  tbody {
    tr {
      td {
        font-size: 12px;
        padding: 5px;
        border-right: 1px solid #DADADA;
        white-space: nowrap;
        border-bottom: 1px solid #DADADA;

        &.action-cell {
          padding: 0;
        }

        .action-group {
          padding: 0;
          margin: 0;
          font-size: 12px;

          .action-item {
            font-size: 12px;
          }
        }

        &.numeric {
          text-align: right;

        }
      }
    }
  }
}

.dtCore {
  -webkit-box-shadow: none;
  box-shadow: none;
  border-collapse: separate;
  border-spacing: 0;
  margin: 0;
  border-width: 0;
  border-top-width: 0px;
  outline-width: 0;
  max-width: none;
  max-height: none;
  border-top: 1px solid #e3e7e9 !important;
  width: 100%;

  tbody {
    tr {

      &:nth-child(odd) {
        td {
          background: rgba(0, 0, 0, 0.05);
        }
      }

      td.action-cell {
        .action-group {
          border: none;

          .action-item {
            border-radius: 0 !important;
            box-shadow: none !important;
            border: none !important;
          }
        }
      }

      &:hover {
        td {
          background: rgba(0, 0, 0, 0.1);
        }
      }
    }
  }

  thead {
    tr {
      th {
        height: 1px;
        background: #dedede;
        color: #5f5d5d;
        border-right: 1px solid #cccccc !important;
        border-bottom: 1px solid #cccccc !important;
        text-align: left;
        font-weight: normal;
        white-space: nowrap;

        .filter-handle, .sort-handle {
          text-align: center;
          transition: all 0.2s ease-out;
          &:hover {
            border-radius: 3px;
            color: lightcoral;
          }
        }

        &.dt-fill {
          border-bottom: none !important;
        }

        &.dt-header-cell {
          position: relative;

          &.bare {
            padding: 5px;
          }
        }

      }
    }
  }
}

.dt-scroll {
  overflow: auto;
  position: relative;

  .dt {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
  }
}

.grid-title {
  vertical-align: middle;
  justify-content: center;
  padding-left: 8px;
}

.download-block {
  border: 1px solid #DADADA;
  margin-bottom: 8px;

  .name {
    justify-content: center;
    padding-left: 8px;
  }
}

.grid-overlay {
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 100%;

  h3 {
    font-weight: bold;
    display: block;
    margin-bottom: 16px;
    text-transform: uppercase;
    text-align: center;

  }

  p {
    text-align: center;
  }

}

.grid-column-toggle {
  display: block;
  margin: 3px 0;
  cursor: pointer;
  padding: 3px;

  &:hover {
    background: #DADADA;
  }
}

.loader {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 9999999;

  .loader-middle {
    position: absolute;
    top: 50%;
    left: 50%;
    background: white;
    width: 30px;
    border-radius: 3px;
    text-align: center;
    font-size: 16px;
    padding: 8px 0;
  }
}

.columns-editor {
  background: rgb(54, 57, 67);
  color: #F2F2F2;
}

.col-filter-panel {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  text-align: left;
  width: 100%;
  height: 100%;
  z-index: 999;

  .col-filter-panel-inner {
    display: block;
    position: absolute;
    top: 30px;
    left: 50%;
    margin-left: -225px;
    width: 450px;
    background: #FFFFFF;
    transition: all 0.3s ease-out;

    .input-wrapper {
      height: 100%;
      padding-right: 8px;

      input[type="text"] {
        width: 100%;
        padding: 3px;

        &:focus {
          outline: none;
        }
      }
    }
  }
}