.event-item {
  background: #F2F2F2F2 F2;
  margin: 4px 8px;
  padding: 3px;
  min-height: 30px;
}
.box {
  display: flex;
  width: 35px;
  height: 35px;
  border-radius: 3px;
  background: grey;
  text-align: center;
  margin: 5px;
  color: white;
  vertical-align: middle;
  font-size: 1rem;
  flex-direction: row;
  align-items: center;
}
.box div {
  width: 100%;
  display: block;
}
.box.blue {
  background: lightblue;
}
.box.yellow {
  background: yellow;
  color: #333333;
}
.box.amber {
  background: orange;
}
.box.green {
  background: lightgreen;
}
.box.red {
  background: indianred;
}
.box-title {
  font-size: 16px;
  padding-top: 13px;
  display: inline-block;
}
.box-label,
.box-val {
  text-align: center;
  display: Block;
  margin: 0 5px;
  font-size: 1rem;
}
.box-val {
  border: 1px solid #DADADA;
}
.box-val.blue {
  background: transparent;
}
.box-val {
  background: #F2F2F2;
  border-radius: 3px;
  margin-bottom: 5px;
  line-height: 28px;
}
/*# sourceMappingURL=events.css.map */