.footbar {
    display: flex;
    flex: 1;
    height: 20px;
    max-height: 20px;
    border-top: 1px solid @borderColour;
}


.helper {
    position: absolute;
    top: 0;
    left: 50%;
    width: 300px;
    text-align: center;
    color: black;
}
