.ide-panel {
    position: fixed;
    z-index: 99999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;

    .closer {
        background: rgba(0,0,0,0.8);
        position: relative;

        .closer-icon {
            position: absolute;
            top: 50%;
            width: 100%;
            text-align: center;
            font-size: 5rem;
            color: #FFFFFF;
        }

    }

    .panel-main {
        background: #FFFFFF;
    }

    .panel-main-minimal {
        max-width: 30%;
        width: 30%;
        background: #FFFFFF;
        border-left: 1px solid #DADADA;
    }
}
