.ew-select {
  display: block;
  border: none;
  position: relative;
  cursor: pointer;
}
.ew-select .handle {
  height: 25px;
}
.ew-select .handle .icon {
  max-width: 25px;
  text-align: center;
  justify-content: center;
}
.ew-select .handle .handle-label {
  justify-content: center;
  padding-left: 3px;
}
.ew-select .handle .grip {
  background: none;
  text-align: center;
  max-width: 30px;
}
.ew-select .handle .caret {
  max-width: 30px;
  text-align: center;
  justify-content: center;
}
.ew-select-data {
  position: absolute;
  top: 25px;
  background: #FFFFFF;
  border: 1px solid #DADADA;
  z-index: 999;
  box-shadow: 1px 0px 3px #DADADA;
}
.ew-select-data .ew-select-inner {
  display: flex;
  flex-direction: column;
  min-width: 300px;
  max-height: 300px;
  overflow-y: auto;
}
.ew-select-data .ew-select-inner .items {
  max-height: 300px;
  overflow-y: auto;
}
.select-option {
  display: block;
  padding: 5px;
  color: #333333;
  border-bottom: 1px solid #DADADA;
  cursor: pointer;
}
.select-option:hover {
  background: #F2F2F2;
}
.location-tree-node {
  display: block;
}
.location-tree-node .node {
  display: block;
  border: 1px solid #DADADA;
  margin-bottom: 3px;
  margin-left: 4px;
  margin-right: 4px;
}
.location-tree-node .node.selectable {
  background: lightgreen;
}
.location-tree-node .node .node-icon {
  padding: 5px;
  text-align: center;
}
.location-tree-node .node .node-icon:hover {
  background: #DADADA;
}
.location-tree-node .node .node-name {
  padding: 5px;
}
.location-tree-node .node .node-name.selectable {
  color: darkgreen;
  cursor: pointer;
}
.location-tree-node .node .node-name.selectable:hover {
  background: rgba(0, 0, 0, 0.04);
}
.location-tree-node .location-tree-node {
  margin-left: 8px;
}
/*# sourceMappingURL=select.css.map */