.ew-select {
    display: block;
    border: none;
    position: relative;
    cursor: pointer;
    background: white;

    .handle {
        height: 25px;

        .icon {
            max-width: 25px;
            text-align: center;
            justify-content: center;
        }

        .handle-label {
            justify-content: center;
            padding-left: 3px;
        }

        .grip {
            background: none;
            text-align: center;
            max-width: 30px;
        }

        .caret {
            max-width: 30px;
            text-align: center;
            justify-content: center;
        }
    }
}

.ew-select-data {
    position: absolute;
    top: 25px;
    background: #FFFFFF;
    border: 1px solid #DADADA;
    z-index: 999;
    box-shadow: 1px 0px 3px #DADADA;

    .ew-select-inner {
        display: flex;
        overflow-y: auto;
        flex-direction: column;
        min-width: 300px;
        max-height: 300px;

        .items {
            max-height: 300px;
            overflow-y: auto;
        }
    }
}

.select-option {
    display: block;
    padding: 5px;
    color: #333333;
    border-bottom: 1px solid #DADADA;
    cursor: pointer;

    &:hover {
        background: #F2F2F2
    }
}

// Location selector

.location-tree-node {
    display: block;

    .node {
        display: block;
        border: 1px solid #DADADA;
        margin-bottom: 3px;

        &.selectable {
            background: lightgreen;
        }

        .node-icon {
            padding: 5px;
            text-align: center;

            &:hover {
                background: #DADADA;
            }
        }

        .node-name {
            padding: 5px;

            &.selectable {
                color: darkgreen;
                cursor: pointer;

                &:hover {
                    background: rgba(0,0,0,0.04);
                }
            }
        }
    }

    .location-tree-node {
        margin-left: 8px;
    }

}

