.task-item {
  min-height: 30px;
  display: flex;
  flex-direction: column;
  transition: all 0.5s ease;
  margin: 4px 8px;
  background: rgba(0, 0, 0, 0.04);
  padding-bottom: 8px;
  padding-right: 8px;
  padding-left: 8px;
  border: 1px solid #DADADA;

  .reporting-circle {
    width: 30px;
    height: 30px;
    border-radius: 60px;
    border: 6px solid #DADADA;
    max-width: 30px;
    cursor: pointer;
    transition: all 0.5s ease;
    display: flex;
    justify-content: center;

    i {
      margin-top: 9px;
      font-weight: bold;
    }

    &:hover {
      border-color: lightblue !important;
      background: lightblue;

      i {
        color: #FFFFFF;
      }

    }

    &.complete {
      border-color: lightgreen;
    }

    &.overdue {
      border-color: indianred;
    }
  }

  .task-inner {
    border-top: 1px solid #DADADA;
    border-bottom: 1px solid #DADADA;
    min-height: 30px;
    margin-top: 8px;

    .actions {
      justify-content: right;

    }
  }
}
