.task-item {
  border-bottom: 1px solid #f9f9f9;
  min-height: 30px;
  display: flex;
  flex-direction: column;
  padding: 8px 8px;
  transition: background 0.5s ease;
}
.task-item:hover {
  background: #f9f9f9;
}
.task-item .reporting-circle {
  width: 30px;
  height: 30px;
  border-radius: 60px;
  border: 6px solid #DADADA;
  max-width: 30px;
  cursor: pointer;
  transition: all 0.5s ease;
}
.task-item .reporting-circle:hover {
  border-color: lightblue;
}
.task-item .reporting-circle.complete {
  border-color: lightgreen;
}
.task-item .reporting-circle.overdue {
  border-color: indianred;
}
.task-item .task-inner {
  border-top: 1px solid #DADADA;
  border-bottom: 1px solid #DADADA;
  min-height: 30px;
  margin-top: 8px;
}
.task-item .task-inner .actions {
  justify-content: right;
}
/*# sourceMappingURL=tasks.css.map */