.ux-toolbar, .toolbar {
  display: block;
  flex: 1;
  min-height: 30px;
  height: 30px;
  max-height: 30px;
  border-bottom: 1px solid @borderColour;
  background: @toolbarBackgroundColour;
}

.footerbar {
    display: block;
    flex: 1;
    min-height: 30px;
    max-height: 30px;
    height: 30px;
    background: @toolbarBackgroundColour;
    border-top: 1px solid @borderColour;
}


