.tree-node {
    display: block;

    .item {
        margin: 0 0 4px 0;
        font-size: 1rem;

        .grip {
            max-width: 25px;
            text-align: center;
            justify-content: center;
            cursor: pointer;
            padding: 3px 0 3px 8px;
            color: #333333;
            transition: color 0.5s ease;

            &:hover {
                color: lightseagreen;
            }
        }

        .label {
            justify-content: center;
            padding: 3px 0 3px 5px;

            font-size: 1rem;
            color: #333333;

            &:hover {
                background: #CCCCCC;
            }
        }
    }

    .tree-children {
        margin-left: 18px;
    }
}



.search {
    margin: 5px;
    background: white;
    border: 1px solid #CCCCCC;
    border-radius: 3px;

    .search-inner {
        border-radius: 3px;
    }

    .search-left {
        text-align: center;
        padding-top: 7px;
        color: #333333;

    }

    .search-mid {
        display: flex;
        flex-direction: column;
        flex: 1;
        min-height: 0;

    }

    input[type="text"] {
        border: none !important;
        outline: none;
        /* border-top-right-radius: 16px; */
        /* border-bottom-right-radius: 16px; */
        display: block;
        color: #adadad;
        clear: both;
        text-indent: 5px;
        padding: 7px 0;
        width: 100%;
        /* border-bottom-left-radius: 3px; */
        /* border-top-left-radius: 3px; */
        /* background: #3c3f41; */
        box-sizing: border-box;
        font-size: 12px;
        border: 1px solid #505152;
    }
}
