<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>EWARS - {{page_title}}</title>

    <style>
        .loading-screen {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 500px;
            margin-left: -250px;
            margin-top: -100px;
            text-align: center;
        }

        .loading-screen .title {
            font-weight: bold;
            font-size: 30px;
            color: #CCC;
            margin-bottom: 16px;
        }

        .loading-screen p {
            font-size: 20px;
            margin-bottom: 10px;
            color: #CCC;
        }

        .loading-screen .team {
            color: #CCCCCC;
        }
    </style>

    <link rel="stylesheet" href="/static/themes/{{theme}}/style.css">
    <link rel="stylesheet" href="/static/vendor/mapbox/mapbox-gl.css"> 
    <link rel="stylesheet" href="/static/vendor/fontawesome/css/fontawesome-pro-light.css"/>
    <link rel="stylesheet" href="/static/vendor/fontawesome/css/fontawesome-pro-regular.css"/>
    <link rel="stylesheet" href="/static/vendor/fontawesome/css/fontawesome-pro-core.css"/>

    <script src="/static/vendor/react/react.dev.js"></script>
    <script src="/static/vendor/react/react-dom.dev.js"></script>

    <script type="application/json" id="user">{{ user | safe | json_encode() }}</script>
    <script type="application/json" id="account">{}</script>
    <script type="application/json" id="config">{}</script>
    <script type="application/json" id="invite">{}</script>

    <script type="text/javascript">

        window.CKEDITOR_BASEPATH = "/static/vendor/ckeditor/";
        window.user = JSON.parse(document.getElementById("user").innerText);
        window.account = JSON.parse(document.getElementById("account").innerText || '{}');
        window.config = JSON.parse(document.getElementById("config").innerText || '{}');
        window.invitation = JSON.parse(document.getElementById("invite").innerText || '{}');

        var elem = document.getElementById("user");
        elem.parentNode.removeChild(elem);
        elem = document.getElementById("account");
        elem.parentNode.removeChild(elem);
        elem = document.getElementById("invite");
        elem.parentNode.removeChild(elem);
    </script>
</head>
<body>


<div id="menu-revert">
    <i class="fa fa-square"></i>
</div>
<div class="ide">
    <div class="ide-layout">
        <div class="ide-row" style="max-height: 30px;">
            <div class="ide-col">
                <div id="core-navigation">
                    <div class="navigation" id="main-nav">
                        <div class="menu-item">
                            <a href="#"><i class="fal fa-bars"></i></a>
                            {% include "menu.html" %}
                        </div>
                        <a href="/" class="nav-logo">EWARS</a>

                        <div class="menu-item">
                            <a href="/reporting"><i class="fal fa-clipboard"></i>&nbsp;</a>
                        </div>

                        <div class="menu-item">
                            <a href="/alerts"><i class="fal fa-bell"></i>&nbsp;</a>
                        </div>

                        <div class="menu-item">
                            <a href="/inbox" class="inbox-link">
                                <div class="inbox-meta">
                                    <i class="fal fa-envelope"></i> 0
                                    &nbsp;<i class="fal fa-check-square"></i>&nbsp;0
                                </div>
                            </a>
                        </div>

                        <div class="menu-item right">
                            <a href="/logout"><i class="fal fa-sign-out"></i></a>
                        </div>
                        <div class="menu-item right">
                            <a href="/profile"><i class="fal fa-user"></i>&nbsp;</a>
                        </div>
                        <div class="menu-item right">
                            <a href="/settings"><i class="fal fa-cogs"></i></a>
                        </div>
                        <div class="menu-item right">
                            <a href="http://ewars-project.org/guidance" target="_blank"><i class="fal fa-question-circle"></i>&nbsp;
                            </a>
                        </div>

                    </div>
                </div>

            </div>
        </div>
        <div class="ide-row">
            <div class="ide-col">
                <div id="application" class="application">
                    <div class="loading-screen">
                        <div class="title">Loading...</div>
                        <p>Thank you for using EWARS. We appreciate it!</p>
                        <p class="team">- Your friends at EWARS</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="ide-row" style="max-height: 25px;">
            <div class="ide-col">
                <div class="app-footer">
                    <span>Logged in as {{user.name}} [{{user.email}}]</span>
                    <span class="pull-right">&copy; WHO 2018. All Rights Reserved. <a href="/releases/index"
                                                                                      target="_blank">v</a></span>

                </div>
            </div>
        </div>
    </div>
</div>
<div id="notification-stream"></div>

<script src="/static/vendor/jquery.min.js" type="application/javascript"></script>
<script src="/static/vendor/underscore.js" type="application/javascript"></script>
<script src="/static/vendor/Highstock-6.0.2/code/highstock.js" type="application/javascript"></script>
<script src="/static/vendor/Highstock-6.0.2/code/modules/funnel.js"></script>
<script src="/static/vendor/Highstock-6.0.2/code/modules/heatmap.js"></script>
<script src="/static/vendor/ckeditor/ckeditor.js"></script>
<script type="text/javascript">
    CKEDITOR.dtd.a.div = true;
    CKEDITOR.dtd.p.div = true;
    CKEDITOR.dtd.span.div = true;
</script>

<script src="/static/bundles/ewars-dev.js"></script>
<script src="/static/bundles/{{app_name}}-dev.js"></script>


</body>
</html>
