<div id="cerebro">
    <div class="ide-layout">
        <div class="ide-row">
            <div class="ide-col border-right" style="max-width: 150px">
                <div class="categories">
                    <div class="wrapper">
                        <ul>
                            <li class="app-cat-click" rel="app-cat-all">
                                <div class="ide-row">
                                    <div class="ide-col" style="max-width: 20px"><i class="fal fa-list"></i></div>
                                    <div class="ide-col">All</div>
                                </div>
                            </li>
                            <li class="app-cat-click" rel="app-cat-collection">
                                <div class="ide-row">
                                    <div class="ide-col" style="max-width: 20px;"><i class="fal fa-database"></i></div>
                                    <div class="ide-col">Data Collection</div>
                                </div>
                            </li>
                            <li class="app-cat-click" rel="app-cat-analysis">
                                <div class="ide-row">
                                    <div class="ide-col" style="max-width: 20px"><i class="fal fa-chart-area"></i></div>
                                    <div class="ide-col">Analysis</div>
                                </div>
                            </li>
                            <li class="app-cat-click" rel="app-cat-mande">
                                <div class="ide-row">
                                    <div class="ide-col" style="max-width: 20px;"><i class="fal fa-tasks"></i></div>
                                    <div class="ide-col">Monitoring &amp; Evaluation</div>
                                </div>
                            </li>
                            {% if is_admin %}
                            <li class="app-cat-click" rel="app-cat-admin">
                                <div class="ide-row">
                                    <div class="ide-col" style="max-width: 20px;"><i class="fal fa-wrench"></i></div>
                                    <div class="ide-col">Administration</div>
                                </div>
                            </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="ide-col" style="background: #f4f4f4">
                <div class="apps">
                    <div class="wrapper">
                        <div class="app-category" id="app-cat-all">
                            {% for item in menu['REPORTING'] %}
                            <a class="mini-app" href="/{{item.id}}">
                                <div class="wrapper">
                                    <i class="fal fa-{{item.icon}}"></i>&nbsp;{{item.name}}
                                    <p>{{item.description}}</p>
                                </div>
                            </a>
                            {% endfor %}

                            {% for item in menu['ANALYSIS'] %}
                            <a class="mini-app" href="/{{item.id}}">
                                <div class="wrapper">
                                    <i class="fal fa-{{item.icon}}"></i>&nbsp;{{item.name}}
                                    <p>{{item.description}}</p>
                                </div>
                            </a>
                            {% endfor %}

                            {% for item in menu['AUDITING'] %}
                            <a class="mini-app" href="/{{item.id}}">
                                <div class="wrapper">
                                    <i class="fal fa-{{item.icon}}"></i>&nbsp;{{item.name}}
                                    <p>{{item.description}}</p>
                                </div>
                            </a>
                            {% endfor %}
                            {% if menu['ADMIN'] %}
                                {% for item in menu['ADMIN'] %}
                                <a class="mini-app" href="/{{item.id}}">
                                    <div class="wrapper">
                                        <i class="fal fa-{{item.icon}}"></i>&nbsp;{{item.name}}
                                        <p>{{item.description}}</p>
                                    </div>
                                </a>
                                {% endfor %}
                            {% endif %}
                        </div>
                        <div class="app-category" id="app-cat-collection" style="display: none;">
                            {% for item in menu['REPORTING'] %}
                            <a class="mini-app" href="/{{item.id}}">
                                <div class="wrapper">
                                    <i class="fal fa-{{item.icon}}"></i>&nbsp;{{item.name}}
                                    <p>{{item.description}}</p>
                                </div>
                            </a>
                            {% endfor %}

                        </div>
                        <div class="app-category" id="app-cat-analysis" style="display: none">
                            {% for item in menu['ANALYSIS'] %}
                            <a class="mini-app" href="/{{item.id}}">
                                <div class="wrapper">
                                    <i class="fal fa-{{item.icon}}"></i>&nbsp;{{item.name}}
                                    <p>{{item.description}}</p>
                                </div>
                            </a>
                            {% endfor %}
                        </div>
                        <div class="app-category" id="app-cat-mande" style="display: none">

                            {% for item in menu['AUDITING'] %}
                            <a class="mini-app" href="/{{item.id}}">
                                <div class="wrapper">
                                    <i class="fal fa-{{item.icon}}"></i>&nbsp;{{item.name}}
                                    <p>{{item.description}}</p>
                                </div>
                            </a>
                            {% endfor %}

                        </div>
                        {% if menu['ADMIN'] %}
                        <div class="app-category" id="app-cat-admin" style="display: none">

                            {% for item in menu['ADMIN'] %}
                            <a class="mini-app" href="/{{item.id}}">
                                <div class="wrapper">
                                    <i class="fal fa-{{item.icon}}"></i>&nbsp;{{item.name}}
                                    <p>{{item.description}}</p>
                                </div>
                            </a>
                            {% endfor %}
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    var EWARS = {};

    /**
     * Hides all application category nodes in the menu
     */
    EWARS.hideAllCats = function () {
        var catItems = document.querySelectorAll(".app-category");
        for (var i = 0, len = catItems.length; i < len; i++) {
            var catNode = catItems[i];
            catNode.style.display = "none";
        }
    };

    /**
     * Shows a specific category node in the menu
     */
    EWARS.showCatNode = function (node) {
        EWARS.hideAllCats();
        var cat = document.getElementById(node);
        cat.style.display = "block";
    };

    document.addEventListener("DOMContentLoaded", function () {
        var menuItems = document.querySelectorAll(".app-cat-click");

        for (var i = 0, len = menuItems.length; i < len; i++) {
            var menuItem = menuItems[i];
            menuItem.addEventListener("click", function (e) {
                e.preventDefault();
                EWARS.showCatNode(this.getAttribute("rel"));
            })
        }
    });
</script>
