<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="shortcut icon" type="image/x-icon" href="/static/favicon.ico">
    <title>Print Record</title>

    <link rel="stylesheet" href="/static/themes/{{theme}}/style.css">
    <link rel="stylesheet" href="/static/vendor/fontawesome/css/fontawesome-pro-light.css"/>
    <link rel="stylesheet" href="/static/vendor/fontawesome/css/fontawesome-pro-regular.css"/>
    <link rel="stylesheet" href="/static/vendor/fontawesome/css/fontawesome-pro-core.css"/>

<style>
.cell-label {
    display: block;
    padding: 3px;
        background: #F2F2F2;
    border-bottom: 1px solid #CCC;
}

    .cell-value {
        display: block;
            padding: 3px;
    }
</style>


</head>
<body onload="printer()">

<div class="print-record">
    <div class="form-name">{{ form_name }}</div>
    {% if record.location_name %}
    <div class="location-name"><strong>Location: </strong>{{ location }}</div>
    {% endif %}

    <div class="data">
    
        {% for field in record.fields %}
            {% if field.field_type == "header" %}
                {% if field.header_style == "style-title" %}
                    <div class="header">{{ field.label }}</div>
                {% endif %}
                {% if field.header_style == "style-sub-title" %}
                    <div class="sub-header">{{ field.label }}</div>
                {% endif %}
            {% elif field.field_type == "matrix" %}
                <div class="header">{{ field.label }}</div>
                <table>
                    {% for row in field.children %}
                        <tr>
                            <th>{{ row.label }}</th>
                            {% for child in row.children %}
                                <td style="padding: 0px">
                                    <div class="cell-label">{{ child.label }}</div>
                                    <div class="cell-value">{{ child.value }}</div>
                                </td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </table>

            {% else %}
                <div class="field">
                    <div class="label">{{ field.label }}</div>
                    <div class="value">{{ field.value }}</div>
                </div>
            {% endif %}

        {% endfor %}

    </div>

    <div class="metadata">
        <div class="data">
            <div class="header">Record Information</div>
            {% if record.eid %}
            <div class="field">
                <div class="label">EWARS ID:</div>
                <div class="value">{{ record.eid }}</div>
            </div>
            {% endif %}
            <div class="field">
                <div class="label">UUID</div>
                <div class="value">{{ record.uuid }}</div>
            </div>
            <div class="field">
                <div class="label">Submitted:</div>
                <div class="value">{{ record.submitted }}</div>
            </div>
            <div class="field">
                <div class="label">Submitter</div>
                <div class="value">{{ record.submitter }}</div>
            </div>
        </div>
    </div>

</div>


<script type="text/javascript">
    const printer = function() {
        window.print();
        window.close();
    }
</script>

</body>
</html>
