<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>EWARS - Register</title>

    <script src="/static/vendor/react/react.dev.js"></script>
    <script src="/static/vendor/react/react-dom.dev.js"></script>

    <link rel="stylesheet" href="/static/themes/flex/style.css">
    <link rel="stylesheet" href="/static/vendor/fontawesome/css/fontawesome-pro-light.css"/>
    <link rel="stylesheet" href="/static/vendor/fontawesome/css/fontawesome-pro-regular.css"/>
    <link rel="stylesheet" href="/static/vendor/fontawesome/css/fontawesome-pro-core.css"/>

    {% if user %}
    <script type="application/json" id="user">{{ user | safe | json_encode() }}</script>
    {% endif %}
    {% if account %}
    <script type="application/json" id="account">{{ account | safe | json_encode() }}</script>
    {% endif %}
    {% if orgs %}
    <script type="application/json" id="orgs">{{ orgs | safe | json_encode() }}</script>
    {% endif %}

</head>
<body>

<div id="app">

</div>


<script src="/static/vendor/jquery.min.js" type="application/javascript"></script>
<script src="/static/vendor/underscore.js" type="application/javascript"></script>
<script src="/static/vendor/Highstock-6.0.2/code/highstock.js" type="application/javascript"></script>
<script src="/static/vendor/Highstock-6.0.2/code/modules/funnel.js"></script>
<script src="/static/vendor/Highstock-6.0.2/code/modules/heatmap.js"></script>
<script src="/static/vendor/ckeditor/ckeditor.js"></script>
<script type="text/javascript">
    CKEDITOR.dtd.a.div = true;
    CKEDITOR.dtd.p.div = true;
    CKEDITOR.dtd.span.div = true;
</script>

<script src="/static/bundles/ewars-dev.js"></script>
<script src="/static/bundles/register-dev.js"></script>
</body>
</html>
