<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>EWARS - Email Verification</title>

    <style>
        .loading-screen {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 500px;
            margin-left: -250px;
            margin-top: -100px;
            text-align: center;
        }

        .inner {
            width: 500px;
            margin: 30px auto 0 auto;
        }

        .loading-screen .title {
            font-weight: bold;
            font-size: 30px;
            color: #CCC;
            margin-bottom: 16px;
        }

        .loading-screen p {
            font-size: 20px;
            margin-bottom: 10px;
            color: #CCC;
        }

        .loading-screen .team {
            color: #CCCCCC;
        }
    </style>

    <link rel="stylesheet" href="/static/themes/flex/style.css">
    <link rel="stylesheet" href="/static/vendor/mapbox/mapbox-gl.css">
    <link rel="stylesheet" href="/static/vendor/fontawesome/css/fontawesome-pro-light.css"/>
    <link rel="stylesheet" href="/static/vendor/fontawesome/css/fontawesome-pro-regular.css"/>
    <link rel="stylesheet" href="/static/vendor/fontawesome/css/fontawesome-pro-core.css"/>
</head>
<body>

<div class="static-wrapper">

    <div class="inner">
    {% if success %}
    <div class="widget">
        <div class="widget-header">
            <span>Email Verified</span>
        </div>
        <div class="body">
            <p>Your email address is now verified, an administrator will review your request for an account and you will receive an email when your account becomes available.</p>
        </div>
    </div>
    {% endif %}

    {% if not success %}
        <div class="widget">
            <div class="widget-header"><span>Verification Error</span></div>
            <div class="body">
            <p>[{{error_code}}] - {{error_message}}</p>
            </div>
        </div>
    {% endif %}
    </div>

</div>

</body>
</html>
