.tree-node-table {
  td, th {
    text-align: left;
    vertical-align: middle;
  }
}

/** Info List **/
table.info-list {
  tr {

  }

  th {
    text-align: left;
    padding: 8px;
    background: #F2F2F2;
    font-weight: bold;
    border-bottom: 1px solid white;
  }

  td {
    padding: 8px;
    vertical-align: middle;
  }

  dd {

  }
}

table.row-click {
  tbody {
    tr {

      th {
        background: #FEFEFE;

        .handle {
          display: block;
          cursor: pointer;
        }
      }

    }
  }
}

.pivot-wrapper {
  width: 100%;

  .pivot-row-headers {
    max-width: 350px;
    min-width: 350px;
    border-right: 1px inset @label-border;
    min-height: 0;
    padding-bottom: 14px;

    th {
      font-size: 14px;
      border-bottom: 1px inset @label-bottom;
    }
  }

  ::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background: rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
  }

  .pivot-scroll {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow-y: hidden;
    overflow-x: auto;
    padding-bottom: 14px;

    table {
      width: 100%;
      height: 100%;

      tr {
        th {
          min-width: 90px;
          font-size: 14px;
          border-bottom: 1px inset @label-border;
          border-right: 1px inset @label-border;
          white-space: nowrap;
          max-height: 30px;
        }

        th:last-child {
          border-right: none;
        }

        td:last-child {
          border-right: none;
        }

        td {
          border-bottom: 1px inset @label-border;
          border-right: 1px inset @label-border;
          text-align: right;
          font-size: 14px;
          white-space: nowrap;
          max-height: 30px;
          padding: 8px;

          &.grey {
            background: @label-bottom;
          }
          &.red {
            background: @lightRed;
            color: @red;
          }

          &.green {
            background: @lightGreen;
            color: #008000;
          }

          &.orange {
            background: rgba(255, 159, 0, 0.24);
            color: @amber;
          }

          &.yellow {
            background: rgba(255, 255, 0, 0.11);
            color: #868600;
          }
        }
      }
    }
  }
}

.flex-table {
  display: flex;
  flex-direction: column;
  width: 100%;

  .headers {
    display: flex;
    flex: 1;
    flex-direction: row;

    .header {
      flex: 1;
      background: #F2F2F2;
      padding: 8px;
      font-weight: bold;
      font-size: 14px;
      border-bottom: 1px solid @label-border;

      &.prime {
        border-right: 1px solid @label-border;
      }
    }
  }
}

.legend-cell {
  padding: 8px !important;

  &.grey {
    background: @label-bottom;
  }
  &.red {
    background: @lightRed;
    color: @red;
  }

  &.green {
    background: @lightGreen;
    color: #008000;
  }

  &.orange {
    background: rgba(255, 159, 0, 0.24);
    color: @amber;
  }

  &.yellow {
    background: rgba(255, 255, 0, 0.11);
    color: #868600;
  }
}