.iw-settings-panel {
  display: flex;
  flex-direction: row;
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
  left: 0;
  box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.03) inset;

  .iw-settings-nav {
    flex: 1;
    padding: 15px 0 0 0;
    border-right: 1px solid #232323;
    background: #303030 url("../../image/c9-noise.png");
    -webkit-box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.03) inset;
    -moz-box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.03) inset;
    box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.03) inset;
    width: 170px;
    height: 100%;
    box-sizing: border-box;

    .iw-settings-nav-bbar {
      display: block;
      margin-bottom: 8px;
    }
  }

  .iw-settings-bbar {
    display: block;
    border-bottom: 1px solid #252525;
    padding-left: 10px;
  }

  .iw-settings-section {
    display: block;
    flex: 1;

    &.iw-settings-section-active {
      .section-header {
        color: #ffffff;
        background: #5e6d06;
        text-shadow: inherit;
      }

      .section-items {
        height: auto;
        display: block;
        visibility: visible;
        padding-bottom: 1em;
        padding-top: 1em;
      }
    }

    .section-header {
      font-weight: bold;
      margin-left: 0;
      margin-right: 0;
      font-size: 10px;
      color: #aaaaaa;
      padding-left: 0;
      cursor: default;
      text-transform: uppercase;
      padding: 6px 15px 6px 26px;
      position: relative;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;

      .section-caret {
        display: block;
        float: left;
        margin-right: 5px;
      }
    }

    .section-items {
      display: block;
      visibility: collapse;
      height: 0;
      padding-left: 36px;

      background: rgba(60, 60, 60, 0.5);

      .section-item {
        display: block;
        color: #dddddd;
        text-decoration: none;
        margin-top: 2px;
        padding: 3px 8px 3px 8px;
        margin-left: -8px;
        margin-right: 0;
        font-size: 12px;
        cursor: default;
      }
    }
  }

  .iw-settings-content {
    display: block;
    flex: 3;
    overflow-y: auto;
    background: #363636;

    .iw-settings-header {
      display: block;
      padding: 18px 18px 10px 18px;
      font-size: 19px;
      text-shadow: 0 1px #000000;
      color: #f1f1f1;

      .iw-settings-icon {
        display: block;
        float: left;
        margin-right: 10px;
      }

      .iw-settings-title {
        color: #F1F1F1;
        span {
          color: #F1F1F1;
        }
      }
    }

    .iw-settings-intro {
      color: #F1F1F1;
      display: block;
      padding: 5px 5px 18px 45px;
      border-bottom: 1px solid #252525;

      p {
        color: #F1F1F1;
      }
    }

    .iw-section-basic {
      background: #363636;
      border-bottom: 1px solid #252525;
      border-top: 1px solid #353535;
      padding: 0;

      .iw-tbar {
        display: block;
        margin: 0px 0px 8px 0px;
        background-color: @ideDTHeaderBgd;
        font-size: 12px;
        color: #969696;
        border-bottom: @ideDTHeaderBorderBottom;
        padding: 6px;
        text-align: left;
      }

      .header {
        padding: 8px 15px 8px 15px;
        font-size: 14px;
        color: #dddddd;
        border-bottom: 1px solid #232323;
        background-color: #313131;
        margin: 0;
      }

      .description {
        display: block;
        color: #dddddd;
        padding: 8px 15px 8px 15px;
        font-size: 12px;
      }

      .hsplit-box {
        display: flex;
        padding: 10px 10px 10px 15px;

        .iw-setting-label {
          flex: 1;
          color: #999999;
          font-size: 12px;
          text-overflow: ellipsis;
          -webkit-font-smoothing: antialiased;
          font-family: Tahoma, Arial;
          overflow: hidden;
          cursor: default;
          padding: 2px 2px 2px 0;
          white-space: nowrap;

          span {
            color: #999999;
            margin-right: 8px;
          }

          .helper {
            .handle {
              display: block;

            }
          }
        }

        .iw-setting-control {
          flex: 1;

          input, textarea {
            &:disabled {
              background: #CCCCCC;
              cursor: not-allowed;
            }
          }
        }
      }
    }
  }
}