.form-definition-editor {
  display: block;
  clear: both;
  padding: 10px 10px 0 10px;

  .placeholder {
    text-align: center;
    padding: 10px 0;
    border: 1px dashed @whoBlue;
    display: block;
    clear: both;
    margin: 0 0 10px 0;

    &:before {
      content: "Drop Here";
      color: #333;
    }
  }

  .form-item {
    display: block;
    clear: both;
    border: @inputBorder;

    margin: 0 0 10px 0;

    .form-item-row-header {
      display: block;
      clear: both;
      background: #4a4a4a;

      .ide-col {
        padding: 10px;

        &.border-right {
          border-right: @inputBorder;
        }

        &.click {
          cursor: pointer;

          &:hover {
            color: @whoBlue;
          }
        }
      }

    }

    .field-definition {
      display: block;
      clear: both;

      .form {
        margin: 10px;
        display: block;
        clear: both;
      }

    }

    .field-children {
      display: block;
      padding: 10px 10px 10px 30px;
      border-top: @inputBorder;

    }

  }

}

.field-definition {
  padding: 0 !important;

  .form {
    margin: 0 !important;
    display: block;
    background: @inputBgd;

    .form-field {
      display: flex;
      padding: 15px 16px 18px 16px;

      label {
        display: block;
        font-weight: bold;
        padding: 5px 0 0 5px;
        width: 250px;
        flex: 1;
      }

      .clearer {
        display: none;
      }

      .field-wrapper {
        display: block;
        flex: 2;
      }

      .field-controls {
        display: none;
      }
    }
  }
}

.conditions-wrapper {
  .clearer {
    display: block !important;
  }

  .btn-group {
    margin: 0 5px !important;
  }
}

.logical {
  margin: 10px 10px 0 10px;

  .icon {
    text-align: center;
    cursor: pointer;

    &:hover {
      i {
        color: #FFFFFF;
      }
    }
  }

  .hd {
    display: block;
    position: relative;

    .control {
      padding-top: 10px;
      padding-bottom: 10px;
      width: 180px;
      clear: both;
    }
  }

  .nugget-up {
    border-right: @inputBorder;
    width: 15px;
    top: 0;
    bottom: 0;
    position: absolute;
  }

  .nugget-end {
    position: absolute;
    bottom: 0;
    left: 19px;
    width: 11px;
    height: 10px;
    background: @ideBgd;
    border-top: @inputBorder;
  }

  .nugget-tick {
    position: absolute;
    left: -16px;
    width: 15px;
    top: 13px;
    border-bottom: @inputBorder;
    height: 1px;
  }

  .indicator:nth-of-type(2n) {
    .header {
      background: #4a4a4a;
    }
  }

  .indicator {
    border: @inputBorder;
    margin-bottom: 10px;

    .header {
      display: block;
      background: @inputBgd;

      &:hover {
        background: rgb(113, 118, 122);
      }

      .ide-col {
        padding: 8px;
        &.border-right {
          border-right: @inputBorder;
        }
      }
    }

    .content {
      border-top: @inputBorder;
      padding: 10px;
      background: @ideBgd;
      position: relative;

      .dropper {
        position: absolute;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        top: 0;
        left: 0;
        z-index: 1;

        .inner {
          top: 10px;
          left: 10px;
          right: 10px;
          bottom: 10px;
          position: absolute;
          border: 2px dashed @inputBgd;

          .text {
            position: absolute;
            top: 50%;
            margin-top: -10px;
            width: 100%;
            text-align: center;
            color: #F2F2F2;
            font-size: 18px;
          }
        }
      }

      .field {
        border: @inputBorder;
        background: @inputBgd;
        margin-bottom: 10px;
        margin-left: 30px;
        position: relative;

        .ide-col {
          padding: 8px;

          &.border-right {
            border-right: @inputBorder;
          }
        }
      }

      .complex {
        border: @inputBorder;
        background: @inputBgd;
        margin-left: 30px;
        position: relative;

        .icon {
          padding: 15px;
          text-align: center;
        }

        .header {
          padding: 8px;
        }
      }
    }
  }

  .set {

    .application, .field {
      display: block;
      border: @inputBorder;
      background: @inputBgd;
      .ide-col {
        padding: 8px;
      }
    }

    .application {
      margin-bottom: 10px;
    }

    .field {
      margin-left: 20px !important;
    }

    .set {
      margin-left: 20px;
    }
  }
}