/*
 * Copyright (c) 2015 JDU Software & Consulting Limited.
 * ALl Rights Reserved.
 *
 * NOTICE: All information contained herein is, and remains the property of JDU Software &
 * Consulting Limited and its suppliers, if any. The intellectual concepts contained
 * herein are proprietary to JDU Software & Consulting Limited and its suppliers and
 * may be covered under U.S. and Foreign Patents, patents in process, and are protected
 * by trade secret or copyright law. Dissemination of this information or reproduction
 * of this material is strictly forbidden unless prior written permission is obtained
 * from JDU Software & Consulting Limited.
 */

.conditions {
  display: table-row;
  width: 100%;

  .sidebar {
    display: table-cell;
    width: 100px;
    background-color: #333;
    border-right: 1px solid @label-border;
    padding: 10px;
    vertical-align: top;
    border-bottom: 1px solid @label-bottom;
  }

  .condition-items {
    display: table-cell;
    width: 100%;
    vertical-align: top;

    .application {
      display: block;
      padding: 10px;
      border-bottom: 1px solid @label-bottom;

      span {
        float: left;
        margin-right: 10px;
      }

      select {
        float: left;
      }
    }

    .rules {
      padding: 10px;
      border-bottom: 1px solid @label-bottom;


    }
  }
}

.action-rule {
  display: block;
  width: 100%;
  border: 1px solid @label-border;

  .variable, .operator, .value, .controls {
    display: table-cell;
    padding: 5px 10px 5px 5px;
    vertical-align: top;
  }

  .variable, .operator, .value {
    width: 25%;
  }

  .variable {
    background-color: @whoBlue;
    color: @white;
  }

  .controls {
    background-color: @label-bottom;
    width: 80px !important;
    max-width: 80px;

    button {
      float: right;
      margin-left: 5px;
    }
  }

  .operator {
  }
}