/*
 * Copyright (c) 2015 JDU Software & Consulting Limited.
 * ALl Rights Reserved.
 *
 * NOTICE: All information contained herein is, and remains the property of JDU Software &
 * Consulting Limited and its suppliers, if any. The intellectual concepts contained
 * herein are proprietary to JDU Software & Consulting Limited and its suppliers and
 * may be covered under U.S. and Foreign Patents, patents in process, and are protected
 * by trade secret or copyright law. Dissemination of this information or reproduction
 * of this material is strictly forbidden unless prior written permission is obtained
 * from JDU Software & Consulting Limited.
 */

.location-selector-field {
  display: block;

  .map-wrapper {
    margin-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .controls-wrapper {
    margin-top: 10px;
    padding: 0 10px;
    span {
      display: block;
      margin-bottom: 5px;
    }

    input:first-child {
      border-right: 1px solid @label-border;
    }

    input[type="text"] {
      display: block;
      background-color: #f1f1f1;
      margin-right: 10px;
      text-indent: 0;
      padding-top: 5px;
      padding-bottom: 5px;
    }
  }
}

