
/** Profile **/
.avatar {
  display: block;
  min-height: 250px;
  background-position: 50% 0;
  backgorund-size: cover;
  position: relative;

  .info {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA9JREFUeNpiYGBgaAAIMAAAhQCB69VMmQAAAABJRU5ErkJggg==);
    padding: 10px;

    .name {
      color: #FFF;
      font-size: 1.1em;
      margin-bottom: 4px;
    }

    .organization {
      color: #FFF;
      font-size: 0.8em;
    }
  }
}

.profile {
  display: block;
  margin-top: 10px;
  margin-right: 10px;

  table {
    tr {
      td {
        border-top: 1px solid @label-border;
        padding: 10px 0 20px 0;

        &.label {
          font-weight: bold;
        }
      }
    }
  }

  .profile-item {
    display: block;
    border-top: 1px solid @label-border;
    padding: 10px 0;
    margin: 5px 0;
  }
}

.inline-edit {
  table {
    tr {
      td {
        padding: 0;
        border-top: none;
      }

      td:nth-child(even) {
        padding-left: 5px;
      }
    }
  }
}

.bio {
  display: block;
  padding: 10px;
  background-color: #F2F2F2;
  margin-top: 8px;
  margin-bottom: 8px;
}

/** Meta **/
.meta {
  display: block;
  padding-top: 8px;

  &.meta-dark {
    .meta-item {
      background-color: @grey !important;
      color: @white;

      span {
        color: @white;
      }
    }
  }

  .meta-item {
    display: block;
    float: left;
    border-radius: 3px;
    background-color: @white;
    margin-right: 3px;
    padding: 3px;
  }
}

/** Profile page styling **/

.assignment {
  display: block;
  padding: 0 !important;
  border: 1px solid @label-border;
  margin-bottom: 14px;

  table {
    tr {
      td {
        border-right: 1px solid @label-border;
        padding: 8px;

        .formName, .locationName {
          display: block;
          font-size: 1.5em;
          margin-bottom: 8px;
        }

        .metric {
          display: block;

          .value {
            display: block;
            font-size: 2.5em;
            text-align: center;
            padding: 20px 0;
          }

          .title {
            display: block;
            text-align: center;
            text-transform: uppercase;
          }
        }
      }
    }
  }
}

.profile-content {
  padding-top: 16px;
  padding-bottom: 16px;

  table {
    width: 100%;

    th, td {
      padding: 8px;
    }

    th {
      text-align: right;
      padding-right: 8px;
    }

    th {
      background: #F2F2F2;
      width: 30%;
      font-weight: bold;

      &.spread {
        background: #333;
        color: #F2F2F2;
        text-align: left;
        font-weight: bold;
        font-size: 14px;
      }
    }

    td {
      text-align: left;
      padding-left: 8px;
    }
  }

  .flex-list {
    margin-top: 16px;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    /* You can set flex-wrap and flex-direction individually */
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    /* Or do it all in one line with flex flow */
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    /* tweak the where items line up on the row */
    /* valid values are: flex-start, flex-end, space-between, space-around, stretch */
    -webkit-align-content: flex-end;
    align-content: flex-end;

    .flex-node {
      position: relative;
      height: 130px;
      width: 25%;
      padding: 8px;
      text-align: center;
      margin-bottom: 8px;

      .flex-node-inner {
        position: absolute;
        left: 50%;
        margin-left: -50px;
        width: 100px;
        height: 100px;
        background: #333;
        border-radius: 100px;

        .text {
          color: #F2F2F2;
          font-size: 15px;
          text-align: center;
          vertical-align: middle;
          line-height: 100px;
          font-weight: bold;
        }
      }

      .label {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        text-align: center;
        display: block;
      }

    }
  }
}