
.tab-set {
  display: block;

  .tab-headers {
    display: block;
    background-color: #ffffff;
    border-bottom: 1px solid @label-border;
    padding: 0 8px;
    height: 51px;

    ul {
      display: block;
      margin: 0;
      padding: 0;

      li {
        display: block;
        float: left;

        &.active > a {
          border-bottom: 3px solid @whoBlue;
          color: @whoBlue;
        }

        a {
          float: left;
          display: block;
          text-align: center;
          padding: 17px 16px 17px 16px;
          color: @grey;
          cursor: pointer;
          font-size: 0.9em;
          border-bottom: 3px @white;
          text-transform: uppercase;
          letter-spacing: 0.05em;

          &:hover {
            border-bottom: 3px solid @whoBlue;
            text-decoration: none;
          }

        }
      }
    }

  }

  .tab-body {
    display: block;
    min-height: 100px;
    padding: 0 !important;

    .grid {
      margin: 10px;
      background-color: transparent;

    }

  }
}

.widget {
  .tabs, .widget-tabs {
    position: relative;
    display: block;
    margin-bottom: 10px;

    .tab {
      height: 35px;
      float: left;
      display: block;
      text-align: center;
      padding: 10px 16px;
      color: @grey;
      cursor: pointer;
      font-size: 0.9em;
      border-bottom: 3px @white;

      &:hover {
        border-bottom: 3px solid #a6a6a6;

        color: #333;
      }

      &.active {
        border-bottom: 3px solid @whoBlue;

        color: @whoBlue;
      }
    }
  }
}

.tab-body {
  display: block;
  padding: 10px 16px;
}

.widget-tabs {
  position: relative;
  display: block;
  margin-bottom: 10px;

  .tab {
    height: 35px;
    float: left;
    display: block;
    text-align: center;
    padding: 10px 16px;
    color: @grey;
    cursor: pointer;
    font-size: 0.9em;
    border-bottom: 3px @white;

    &:hover {
      border-bottom: 3px solid #a6a6a6;

      color: @whoBlue;
    }

    &.active {
      border-bottom: 3px solid @whoBlue;

      color: @whoBlue;
    }
  }
}

.iw-tabs {
  display: block;
  padding: 0 16px;
  font-size: 12px;
  box-shadow: 0px 1px 0 @label-border;
  background-color: @ideTbarBgd;
  border-top: @idePanelBorder;
  height: 35px;

  .panelsbar-btn {
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    padding: 8px;
    display: inline-block;
    cursor: pointer;
    border-top: 1px solid transparent;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    border-bottom: none;
    margin-top: -1px;
    text-overflow: ellipsis;
  }

  .panelsbar-btn-active, .panelsbar-btn:hover {
    border-top: 1px solid @label-border;
    border-left: 1px solid @label-border;
    border-right: 1px solid @label-border;
    border-bottom: none;
    margin-top: 6px;
    background: #FFFFFF;
  }
}

*, :after, :before {
  box-sizing: inherit;
}


.ux-tabs {
  display: block;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;

  .ux-tab {
    position: relative;
    cursor: pointer;
    text-align: center;
    display: inline-block;
    border-right: @inputBorder;
    vertical-align: middle;
    line-height: 1;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background: 0 0;
    padding: .92857143em 1.14285714em;
    text-transform: none;
    color: @defaultTxtColor;
    font-weight: 400;
    -webkit-transition: background .1s ease,box-shadow .1s ease,color .1s ease;
    transition: background .1s ease,box-shadow .1s ease,color .1s ease;

    &:before {
      position: absolute;
      content: '';
      top: 0;
      right: 0;
      height: 100%;
      width: 1px;
      background: rgba(34,36,38,.1);
    }

    &:after {
      visibility: hidden;
      position: absolute;
      content: '';
      top: 100%;
      left: 50%;
      -webkit-transform: translateX(-50%) translateY(-50%) rotate(45deg);
      transform: translateX(-50%) translateY(-50%) rotate(45deg);
      //background: 0 0;
      background: @inputBgd;
      margin: .5px 0 0;
      width: .57142857em;
      height: .57142857em;
      border: none;
      border-bottom: @inputBorder;
      border-right: @inputBorder;
      //border-bottom: 1px solid #d4d4d5;
      //border-right: 1px solid #d4d4d5;
      z-index: 2;
      -webkit-transition: background .1s ease;
      transition: background .1s ease;
    }

    &.active {
      //background: rgba(0,0,0,.1);
      background: @inputBgd;
      //color: rgba(0,0,0,.95);
      color: @defaultTxtColor;
      font-weight: 400;
      box-shadow: none;

      &:after {
        background-color: @inputBgd;
        visibility: visible;
      }
    }
  }
}
