{% extends "emails/base.html" %}
{% block content %}
<p><strong>{{ name }} [{{ email }}]</strong> Your access to {{ account_name}} has been rejected.</p>

<p> The following reason was given for the rejection:</p>
<p>{{ reason }}</p>

<p>If you feel this rejection was in error, please contact <a href="mailto:support@ewars.ws">support@ewars.ws</a> for more information.</p>
{% endblock %}

