{% extends "emails/base.html" %}
{% block content %}
<p><strong>{{ name }} [{{ email }}]</strong> Your access to {{ account_name }} has been approved, you can now login using the email and password you initially requested access with.</p>
{% endblock %}
