{% extends "emails/base.html" %}
{% block content %}
 <p><Strong>{{ user_name }} [{{ user_email }}]</strong> has requested access to <strong>{{ account_name }}</strong> in EWARS which requires an Account Administrators approval.</p>

 <p>You can review this task from the EWARS dashboard once you login to the application at <a href="https://{{ domain }}/">{{domain}}</a> or by clicking the link below if you are already logged in.</p>


<p>Or you can view this task from within your EWARS app in the Tasks section.</p>
{% endblock %}
