{% extends "emails/base.html" %}
{% block content %}
<p>You recently request recovery of your password for your {{email}} account in EWARS</p>

<p>Please click the link below to recover your account and set a new password.</p>

<a href="http://{{host}}/recovery/{{code}}">Reset Password</a>
{% endblock %}
