{% extends "emails/base.html" %}
{% block content %}
<p>Thank you for submitting a registration for EWARS. Before we can proceed with your registration, please click the link below to verify ownership of this email address</p>

<a href="https://{{domain}}/verify/{{code}}">Verify your email address</a>

<p>Once you've verified your email address, an account administrator will review your request and approve or reject the registration, when this occurs you'll receive an additional email to let you know the outcome.</p>
{% endblock %}
